{
  "openapi": "3.1.0",
  "info": {
    "title": "Swaps API",
    "description": "The Swaps API provides instant cross-chain swap and bridge functionality for decentralized applications.\nIt supports multiple virtual machines (EVM, Solana, Bitcoin) and various DEX protocols and bridge solutions.",
    "version": "3.0.0",
    "contact": {
      "name": "Swaps.xyz",
      "url": "https://swaps.xyz"
    }
  },
  "servers": [
    {
      "url": "https://api-v2.swaps.xyz/api",
      "description": "Production server"
    },
    {
      "url": "https://ghost.swaps.xyz/api/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/getAction": {
      "get": {
        "summary": "Get Action",
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API server"
          }
        ],
        "description": "Generates a transaction for cross-chain swaps, bridges, and calls. The action includes transaction data, routing information, and fee calculations for executing the requested operation.",
        "operationId": "getAction",
        "parameters": [
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "description": "Type of action to perform",
            "schema": {
              "$ref": "#/components/schemas/ActionType"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "required": true,
            "description": "The address of the sender/user",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "srcChainId",
            "in": "query",
            "required": true,
            "description": "Source chain ID",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            }
          },
          {
            "name": "srcToken",
            "in": "query",
            "required": true,
            "description": "Source token address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "dstChainId",
            "in": "query",
            "required": true,
            "description": "Destination chain ID",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            }
          },
          {
            "name": "dstToken",
            "in": "query",
            "required": true,
            "description": "Destination token address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "slippage",
            "in": "query",
            "required": true,
            "description": "Slippage tolerance in bps",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "The exact in or exact out amount of the swap\n\n**Required:** for `swap-action`\n\n**Required:** for `polymarket` action type",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]$"
            }
          },
          {
            "name": "swapDirection",
            "in": "query",
            "required": false,
            "description": "Swap direction for the action\n\n**Required:** for `swap-action`\n\n**Required:** for `polymarket` action type (use `exact-amount-in`)",
            "schema": {
              "$ref": "#/components/schemas/SwapDirection"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "required": false,
            "description": "Address to receive the swapped tokens\n\n**Optional:** for `swap-action`\n\n**Required:** for `polymarket` action type (should be the proxy wallet address)",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "The EVM address of the target contract (20 bytes hex)\n\n**Required:** for `evm-calldata-tx` action type",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": false,
            "description": "Calldata for the transaction\n\n**Required:** for `evm-calldata-tx` action type",
            "schema": {
              "$ref": "#/components/schemas/Hex"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": false,
            "description": "Value to send with transaction\n\n**Optional:** for `evm-calldata-tx` action type",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]$"
            }
          },
          {
            "name": "erc20Amount",
            "in": "query",
            "required": false,
            "description": "The amount of Erc20 being transferred\n\n**Optional:** for `evm-calldata-tx` action type (use for calls requiring Erc20 transfers)",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]$"
            }
          },
          {
            "name": "erc20Spender",
            "in": "query",
            "required": false,
            "description": "The Erc20 spender requiring approval for the transaction call\n\n**Optional:** for `evm-calldata-tx` action type (will default to the `to` address)",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "bridgeIds",
            "in": "query",
            "required": false,
            "description": "Specific bridge protocols to use\n\n**Optional:** Will default to all available protocols",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BridgeId"
              }
            }
          },
          {
            "name": "refundTo",
            "in": "query",
            "required": false,
            "description": "Alternate address to receive refunds\n\n**Optional:** Will default to the `sender`",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "returnDepositAddress",
            "in": "query",
            "required": false,
            "description": "Return a deposit address for deposit-based flows\n\n**Optional:** Set to `true` to receive a deposit address in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "appFees",
            "in": "query",
            "required": false,
            "description": "Application fees configuration as JSON array\n\n**Optional:** Will default to fees configured for the application\n\n **Example:** `[{ \"bps\": 50, \"receiverAddress\": \"0x...\" }]`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Polymarket user ID - returned from `POST /create`\n\n**Required:** for `polymarket` action type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Order side for Polymarket orders\n\n**Required:** for `polymarket` action type",
            "schema": {
              "type": "string",
              "enum": ["BUY", "SELL"]
            }
          },
          {
            "name": "tokenID",
            "in": "query",
            "required": false,
            "description": "Polymarket CLOB token ID\n\n**Required:** for `polymarket` action type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderType",
            "in": "query",
            "required": false,
            "description": "Polymarket order type\n\n**Required:** for `polymarket` action type\n\n- `FOK`: Fill or Kill (market order)\n- `FAK`: Fill and Kill (market order)",
            "schema": {
              "type": "string",
              "enum": ["FOK", "FAK"]
            }
          },
          {
            "name": "feeRateBps",
            "in": "query",
            "required": false,
            "description": "Fee rate in basis points (non-negative)\n\n**Required:** for `polymarket` action type",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "tickSize",
            "in": "query",
            "required": false,
            "description": "Price tick size for Polymarket orders\n\n**Required:** for `polymarket` action type",
            "schema": {
              "type": "string",
              "enum": ["0.01", "0.001", "0.0001"]
            }
          },
          {
            "name": "negRisk",
            "in": "query",
            "required": false,
            "description": "Negative risk flag for Polymarket\n\n**Required:** for `polymarket` action type",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with action data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActionErrorResponse"
                },
                "examples": {
                  "AMOUNT_TOO_HIGH": {
                    "summary": "Amount Too High",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AMOUNT_TOO_HIGH",
                        "name": "AmountTooHighError",
                        "message": "The specified amount is too high.",
                        "title": "Amount too high",
                        "statusCode": 400,
                        "details": {
                          "srcToken": "0x0000000000000000000000000000000000000000",
                          "dstToken": "0x0000000000000000000000000000000000000000",
                          "srcChainId": 1,
                          "dstChainId": 42161,
                          "maxAmount": 100000000000000000000
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "AMOUNT_TOO_LOW": {
                    "summary": "Amount Too Low",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AMOUNT_TOO_LOW",
                        "name": "AmountTooLowError",
                        "message": "The specified amount is too low.",
                        "title": "Amount too low",
                        "statusCode": 400,
                        "details": {
                          "srcToken": "0x0000000000000000000000000000000000000000",
                          "dstToken": "0x0000000000000000000000000000000000000000",
                          "srcChainId": 1,
                          "dstChainId": 42161,
                          "minAmount": 0.000123
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "CROSS_VM_RECEIVER_REQUIRED": {
                    "summary": "Cross VM Receiver Required",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CROSS_VM_RECEIVER_REQUIRED",
                        "name": "CrossVmReceiverRequiredError",
                        "message": "Receiver address is required for swaps across different VMs.",
                        "title": "Receiver address required",
                        "statusCode": 400,
                        "details": {
                          "srcChainId": 1,
                          "dstChainId": 1399811149
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "EXCESSIVE_FEE": {
                    "summary": "Excessive Fee",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "EXCESSIVE_FEE",
                        "name": "ExcessiveFeeError",
                        "message": "The inputted flat fee is too large (over 50% of tx input).",
                        "title": "Excessive fee",
                        "statusCode": 400,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "INSUFFICIENT_LIQUIDITY": {
                    "summary": "Insufficient Liquidity",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INSUFFICIENT_LIQUIDITY",
                        "name": "InsufficientLiquidityError",
                        "message": "There is insufficient liquidity to complete this transaction.",
                        "title": "Insufficient liquidity",
                        "statusCode": 400,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "INVALID_ADDRESS_FORMAT": {
                    "summary": "Invalid Address Format",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INVALID_ADDRESS_FORMAT",
                        "name": "InvalidAddressError",
                        "message": "The format of the specified address is invalid.",
                        "title": "Invalid address format",
                        "statusCode": 400,
                        "details": {
                          "field": "sender",
                          "address": "0xinvalid",
                          "reason": "Address must be 40 characters long"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "INVALID_AMOUNT_ZERO": {
                    "summary": "Invalid Amount Zero",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INVALID_AMOUNT_ZERO",
                        "name": "InvalidAmountZeroError",
                        "message": "Amount must be greater than zero.",
                        "title": "Zero amount not allowed",
                        "statusCode": 400,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "INVALID_DESTINATION_TOKEN": {
                    "summary": "Invalid Destination Token",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INVALID_DESTINATION_TOKEN",
                        "name": "InvalidDstTokenError",
                        "message": "Destination token is required.",
                        "title": "Invalid destination token",
                        "statusCode": 400,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "INVALID_PARAMETER": {
                    "summary": "Invalid Parameter",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INVALID_PARAMETER",
                        "name": "InvalidParameterError",
                        "message": "The request contains an invalid parameter.",
                        "title": "Invalid parameter",
                        "statusCode": 400,
                        "details": {
                          "parameter": "slippage",
                          "value": "15000",
                          "reason": "Slippage must be between 0 and 10000 bps"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "INVALID_SOURCE_TOKEN": {
                    "summary": "Invalid Source Token",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INVALID_SOURCE_TOKEN",
                        "name": "InvalidSrcTokenError",
                        "message": "Source token is required.",
                        "title": "Invalid source token",
                        "statusCode": 400,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "MISSING_REQUIRED_FIELD": {
                    "summary": "Missing Required Field",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "MISSING_REQUIRED_FIELD",
                        "name": "MissingRequiredFieldError",
                        "message": "The request is missing a required field.",
                        "title": "Missing required field",
                        "statusCode": 400,
                        "details": {
                          "field": "srcToken",
                          "context": "Source token address is required for swap actions"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "NO_AVAILABLE_ROUTE": {
                    "summary": "No Available Route",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NO_AVAILABLE_ROUTE",
                        "name": "NoAvailableRouteError",
                        "message": "No route is available for the specified parameters.",
                        "title": "No available route",
                        "statusCode": 400,
                        "details": {
                          "srcChainId": 1,
                          "dstChainId": 42161,
                          "srcToken": "0x0000000000000000000000000000000000000000",
                          "dstToken": "0x1234567890123456789012345678901234567890"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "UNSUPPORTED_NETWORK": {
                    "summary": "Unsupported Network",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "UNSUPPORTED_NETWORK",
                        "name": "UnsupportedNetworkError",
                        "message": "The network with the specified chainId is not supported.",
                        "title": "Unsupported network",
                        "statusCode": 400,
                        "details": {
                          "chainId": 999999
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "UNSUPPORTED_NETWORK_PAIR": {
                    "summary": "Unsupported Network Pair",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "UNSUPPORTED_NETWORK_PAIR",
                        "name": "UnsupportedNetworkPairError",
                        "message": "Routing between the specified networks is not supported.",
                        "title": "Unsupported network pair",
                        "statusCode": 400,
                        "details": {
                          "srcChainId": 1,
                          "dstChainId": 999999
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "UNSUPPORTED_NETWORK_TOKEN_PAIR": {
                    "summary": "Unsupported Network Token Pair",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "UNSUPPORTED_NETWORK_TOKEN_PAIR",
                        "name": "UnsupportedNetworkAndTokenPairError",
                        "message": "Routing between the specified tokens and networks is not supported.",
                        "title": "Unsupported network and token pair",
                        "statusCode": 400,
                        "details": {
                          "srcChainId": 1,
                          "srcToken": "0x0000000000000000000000000000000000000000",
                          "dstChainId": 42161,
                          "dstToken": "0x1234567890123456789012345678901234567890"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "UNSUPPORTED_SWAP_DIRECTION": {
                    "summary": "Unsupported Swap Direction",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "UNSUPPORTED_SWAP_DIRECTION",
                        "name": "UnsupportedSwapDirectionError",
                        "message": "The specified swap direction is not supported.",
                        "title": "Unsupported swap direction",
                        "statusCode": 400,
                        "details": {
                          "swapDirection": "exact-amount-out"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActionErrorResponse"
                },
                "examples": {
                  "INVALID_API_KEY": {
                    "summary": "Invalid API Key",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INVALID_API_KEY",
                        "name": "InvalidApiKeyError",
                        "message": "The provided API key is invalid.",
                        "title": "Invalid API key",
                        "statusCode": 401,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "MISSING_API_KEY": {
                    "summary": "Missing API Key",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "MISSING_API_KEY",
                        "name": "MissingApiKeyError",
                        "message": "API key is required.",
                        "title": "Missing API key",
                        "statusCode": 401,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied due to restrictions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActionErrorResponse"
                },
                "examples": {
                  "GEO_BLOCKED": {
                    "summary": "Geographic Restriction",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "GEO_BLOCKED",
                        "name": "GeoBlockingError",
                        "message": "Access denied due to geo-blocking restrictions.",
                        "title": "Geo-blocking restriction",
                        "statusCode": 403,
                        "details": {
                          "countryCode": "US",
                          "countryName": "United States",
                          "reason": "Country is on the blocked list",
                          "blockedAt": "2024-01-15T10:30:00.000Z"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  },
                  "WALLET_SCREENED": {
                    "summary": "Wallet Screening",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "WALLET_SCREENED",
                        "name": "WalletScreeningError",
                        "message": "Access denied due to wallet screening restrictions.",
                        "title": "Wallet screening restriction",
                        "statusCode": 403,
                        "details": {
                          "walletAddress": "0x1234567890123456789012345678901234567890",
                          "chainId": 1,
                          "riskLevel": "HIGH",
                          "reason": "Wallet flagged by screening service",
                          "screenedAt": "2024-01-15T10:30:00.000Z"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActionErrorResponse"
                },
                "examples": {
                  "METHOD_NOT_ALLOWED": {
                    "summary": "Method Not Allowed",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "METHOD_NOT_ALLOWED",
                        "name": "MethodNotAllowedError",
                        "message": "The HTTP request method specified is not allowed.",
                        "title": "Method not allowed",
                        "statusCode": 405,
                        "details": {
                          "method": "POST"
                        },
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActionErrorResponse"
                },
                "examples": {
                  "INTERNAL_SERVER_ERROR": {
                    "summary": "Internal Server Error",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_SERVER_ERROR",
                        "name": "InternalServerError",
                        "message": "An internal server error occurred while processing the request.",
                        "title": "Internal Server Error",
                        "statusCode": 500,
                        "timestamp": "2024-01-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registerTxs": {
      "post": {
        "summary": "Register Transaction",
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API server"
          }
        ],
        "description": "Register transactions for indexing. Mandatory for non EVM transactions.",
        "operationId": "registerTxs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Single Transaction",
                    "$ref": "#/components/schemas/TxRegistrationEvent"
                  },
                  {
                    "title": "Multiple Transactions",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TxRegistrationEvent"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction registration results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/post_200__webhooks_registerTxsSchema"
                }
              }
            }
          }
        }
      }
    },
    "/getStatus": {
      "get": {
        "summary": "Get Status",
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API server"
          }
        ],
        "description": "Retrieve the status and details of a transaction by transaction ID.",
        "operationId": "getTransactionStatus",
        "parameters": [
          {
            "name": "txHash",
            "in": "query",
            "description": "Transaction hash to query (required if txId not provided)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$",
              "example": "0xd56968cf4fede6a0773f3e6dfad7d1088aacd3994bada55d44faee9596dadff2"
            }
          },
          {
            "name": "txId",
            "in": "query",
            "description": "Transaction ID to query (required if txHash not provided)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0x49b1d3d38176e45864fd55500c6c1879ab318609e1ed0c8eb9abd818e6c811fd"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Source chain ID for the transaction (optional but recommended)",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxDetails"
                }
              }
            }
          }
        }
      }
    },
    "/getTransactions": {
      "get": {
        "summary": "Get Transactions",
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API server"
          }
        ],
        "description": "Retrieve paginated transaction history with optional filtering.",
        "operationId": "getTransactions",
        "parameters": [
          {
            "name": "appIds",
            "in": "query",
            "description": "Comma-separated list of your app IDs. By default, a request to this endpoint will return transactions across all appIds in your org. Each API key has a unique app ID.  Multiple app IDs can exist within a single org ID.",
            "schema": {
              "type": "string",
              "example": "0x5344e5a7,0x5314e6a7"
            }
          },
          {
            "name": "walletAddress",
            "in": "query",
            "description": "Wallet address to filter transactions by user",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "name": "chainIds",
            "in": "query",
            "description": "Comma-separated list of chain IDs to filter by",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1,42161,10"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 25,
              "example": 25
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "allTime"],
              "default": "allTime",
              "example": "week"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date filter (Unix timestamp)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1640995200"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date filter (Unix timestamp)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1672531200"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction history response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TxDetails"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPaths": {
      "get": {
        "summary": "Get Paths",
        "description": "Retrieves all available token paths across supported chains with configurable filtering options. It’s recommended to call this endpoint after selecting the source and destination tokens to validate route eligibility.",
        "operationId": "getPaths",
        "parameters": [
          {
            "name": "srcChainId",
            "in": "query",
            "required": true,
            "description": "Source chain ID",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            }
          },
          {
            "name": "srcToken",
            "in": "query",
            "required": true,
            "description": "Source token address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dstChainId",
            "in": "query",
            "required": false,
            "description": "Recommended: destination chain ID",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            }
          },
          {
            "name": "dstToken",
            "in": "query",
            "required": false,
            "description": "Recommended: destination token address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeBridgeIds",
            "in": "query",
            "required": false,
            "description": "Bridge IDs to exclude from routing",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BridgeId"
              }
            }
          },
          {
            "name": "excludeDexIds",
            "in": "query",
            "required": false,
            "description": "DEX IDs to exclude from routing",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DexId"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paths response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPathsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getChainList": {
      "get": {
        "summary": "Get Chain List",
        "description": "Retrieve a list of supported chains, their names, and virtual machine identifiers. Raw data for the [supported chains list](/resources/chain-list).",
        "operationId": "getChainList",
        "responses": {
          "200": {
            "description": "List of supported chains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChainListResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflows/polymarket/createOrFetchPolymarketUser": {
      "post": {
        "summary": "Create or Fetch User",
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API Server"
          }
        ],
        "description": "Creates a new Swaps account for a user or fetches an existing one based on the provided EVM address.",
        "operationId": "createOrFetchPolymarketUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrFetchPolymarketUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrFetchPolymarketUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/getStatus": {
      "get": {
        "summary": "Get Workflow Status",
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API Server"
          }
        ],
        "description": "Retrieves the status of a workflow transaction by transaction ID.",
        "operationId": "getWorkflowStatus",
        "parameters": [
          {
            "name": "txId",
            "in": "query",
            "description": "Transaction ID from /getAction request",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0x1b121f30eeddfc1ee3eeb491c02be6c4b676b0ac0ac3e309fa25f010172c5af4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/polymarket/redeemPosition": {
      "post": {
        "summary": "Redeem Position",
        "tags": ["Polymarket"],
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API Server"
          }
        ],
        "description": "Redeems position from a resolved Polymarket market. For positions with a current value > 0, this endpoint allows users to claim their winnings from a specific market condition. For losing positions with a current value = 0, this endpoint allows users to burn their position tokens to clean up their account. \n Endpoint awaits successful execution of the redemption transaction before returning the transaction hash.",
        "operationId": "redeemPosition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["evmEoa", "conditionId"],
                "properties": {
                  "evmEoa": {
                    "$ref": "#/components/schemas/EvmAddress",
                    "description": "User's EVM wallet address"
                  },
                  "conditionId": {
                    "type": "string",
                    "description": "Polymarket condition ID for the position to redeem",
                    "example": "0x52f13a5eaf375170189f326e58cc6d217515de1cf9e41bff17be7779ea9a295c"
                  },
                  "assetId": {
                    "type": "string",
                    "description": "Polymarket asset ID for the asset to redeem",
                    "example": "25851216745091725550702226389795916287148711992808817855215289655518936398397"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position redeemed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["txHash", "status"],
                  "properties": {
                    "txHash": {
                      "$ref": "#/components/schemas/Hex",
                      "description": "Transaction hash of the redemption"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status message of the redemption"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/polymarket/mergePositions": {
      "post": {
        "summary": "Merge Position",
        "tags": ["Polymarket"],
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API Server"
          }
        ],
        "description": "Merges a full set of position tokens back into collateral by burning them. Can be used to claim winnings from resolved markets or clean up positions. Endpoint awaits successful execution of the merge transaction before returning the transaction hash.",
        "operationId": "mergePositions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["evmEoa", "conditionId"],
                "properties": {
                  "evmEoa": {
                    "$ref": "#/components/schemas/EvmAddress",
                    "description": "User's EVM wallet address"
                  },
                  "conditionId": {
                    "type": "string",
                    "description": "Polymarket condition ID for the position to redeem",
                    "example": "0x52f13a5eaf375170189f326e58cc6d217515de1cf9e41bff17be7779ea9a295c"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Positions merged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["txHash", "status"],
                  "properties": {
                    "txHash": {
                      "$ref": "#/components/schemas/Hex",
                      "description": "Transaction hash of the redemption"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status message of the merge"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/polymarket/sellPosition": {
      "post": {
        "summary": "Sell Position",
        "tags": ["Polymarket"],
        "servers": [
          {
            "url": "https://api-v2.swaps.xyz/api",
            "description": "Core Swap API Server"
          }
        ],
        "description": "Sells an existing position in a Polymarket market. This endpoint allows users to exit their positions by selling their outcome tokens using market orders (FOK/FAK).",
        "operationId": "sellPosition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "evmEoa",
                  "side",
                  "tokenID",
                  "orderType",
                  "tickSize",
                  "negRisk",
                  "amount"
                ],
                "properties": {
                  "evmEoa": {
                    "$ref": "#/components/schemas/EvmAddress",
                    "description": "EVM address (wallet address)"
                  },
                  "proxyWallet": {
                    "$ref": "#/components/schemas/EvmAddress",
                    "description": "Proxy wallet address (optional)"
                  },
                  "side": {
                    "type": "string",
                    "enum": ["SELL"],
                    "description": "Order side - must be SELL"
                  },
                  "tokenID": {
                    "type": "string",
                    "description": "Polymarket CLOB token ID of the position to sell"
                  },
                  "orderType": {
                    "type": "string",
                    "enum": ["FOK", "FAK"],
                    "description": "Order type - Fill-Or-Kill (FOK) or Fill-And-Kill (FAK) for market orders"
                  },
                  "tickSize": {
                    "type": "string",
                    "description": "Tick size from the market details (e.g., '0.01')"
                  },
                  "negRisk": {
                    "type": "boolean",
                    "description": "Negative risk flag from the market details"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount of tokens to sell (must be a positive number)"
                  },
                  "feeRateBps": {
                    "type": "number",
                    "description": "Fee rate in basis points (optional, defaults to 0)"
                  },
                  "slippage": {
                    "type": "number",
                    "description": "Slippage tolerance in basis points (optional, defaults to 0)"
                  }
                },
                "example": {
                  "evmEoa": "0xB9519a08267d7B259eCA6DbD8F7286B1f176A41f",
                  "side": "SELL",
                  "tokenID": "90234889617199443673709150877675264662915727532354468551650133547723659310093",
                  "orderType": "FAK",
                  "tickSize": "0.01",
                  "negRisk": true,
                  "amount": 2,
                  "feeRateBps": 0,
                  "slippage": 100
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position sold successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txId": {
                      "type": "string",
                      "description": "Transaction ID"
                    },
                    "orderResponse": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Whether the sell order was successful"
                        },
                        "errorMsg": {
                          "type": "string",
                          "description": "Error message if the order failed (empty string if successful)"
                        },
                        "orderID": {
                          "type": "string",
                          "description": "Unique order ID"
                        },
                        "transactionsHashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of transaction hashes"
                        },
                        "status": {
                          "type": "string",
                          "description": "Order status (e.g., 'matched')"
                        },
                        "takingAmount": {
                          "type": "string",
                          "description": "Amount of USDC received"
                        },
                        "makingAmount": {
                          "type": "string",
                          "description": "Amount of tokens sold"
                        }
                      }
                    }
                  },
                  "example": {
                    "txId": "0xa66c86a47f4f81caae5d767e2d8a5a7def1a191d24eba5bd49f8767297cfe2e5",
                    "orderResponse": {
                      "success": true,
                      "errorMsg": "",
                      "orderID": "0xb9826fe87ddf21261eceaf513977cb5ea1ae31ac173210857c879cef936dfa2b",
                      "transactionsHashes": [
                        "0x39ac6726cf2cfb7814bdb2e04aeeea1d3bde2d1ce7e357f79a404cacb6984f35"
                      ],
                      "status": "matched",
                      "takingAmount": "1.376",
                      "makingAmount": "2"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActionResponse": {
        "type": "object",
        "required": [
          "tx",
          "txId",
          "vmId",
          "amountIn",
          "amountInMax",
          "amountOutMin",
          "amountOut",
          "protocolFee",
          "applicationFee",
          "exchangeRate",
          "estimatedTxTime",
          "estimatedPriceImpact",
          "allRoutes",
          "requiresTokenApproval",
          "requiresRegisterTransaction"
        ],
        "properties": {
          "tx": {
            "oneOf": [
              {
                "title": "EVM Transaction",
                "$ref": "#/components/schemas/EvmTransaction"
              },
              {
                "title": "Solana Transaction",
                "$ref": "#/components/schemas/SerializedSolTransaction"
              },
              {
                "title": "Alt VM Transaction",
                "$ref": "#/components/schemas/AltVmTransaction"
              },
              {
                "title": "HyperCore Transaction",
                "$ref": "#/components/schemas/HyperCoreTransaction"
              }
            ],
            "description": "Transaction data for execution"
          },
          "txId": {
            "$ref": "#/components/schemas/Hex",
            "description": "Transaction ID"
          },
          "vmId": {
            "type": "string",
            "enum": ["evm", "solana", "alt-vm", "hypercore"],
            "description": "Virtual machine identifier."
          },
          "amountIn": {
            "$ref": "#/components/schemas/Payment",
            "description": "Expected amount to input (exclusive of slippage - recommended value to display in frontend)"
          },
          "amountInMax": {
            "$ref": "#/components/schemas/Payment",
            "description": "Maximum amount to input (inclusive of slippage)"
          },
          "amountOut": {
            "$ref": "#/components/schemas/Payment",
            "description": "Expected amount delivered to users (exclusive of slippage - recommended value to display in frontend)"
          },
          "amountOutMin": {
            "$ref": "#/components/schemas/Payment",
            "description": "Minimum amount delivered to users (inclusive of slippage)"
          },
          "protocolFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Swaps.xyz fee"
          },
          "applicationFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Application fee (your fee!)"
          },
          "bridgeFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Bridge fee (from aggregated providers)"
          },
          "bridgeIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BridgeId"
            },
            "description": "Bridge IDs used in the route."
          },
          "bridgeRoute": {
            "$ref": "#/components/schemas/BridgeRoute",
            "description": "Bridge route information (src chain + token, dst chain + token, BridgeId)"
          },
          "exchangeRate": {
            "type": "number",
            "format": "float",
            "description": "Exchange rate for the swap."
          },
          "estimatedTxTime": {
            "type": "number",
            "format": "float",
            "description": "Estimated transaction time in seconds."
          },
          "estimatedPriceImpact": {
            "type": "number",
            "format": "float",
            "description": "Estimated price impact percentage."
          },
          "requiresTokenApproval": {
            "type": "boolean",
            "description": "Flag indicating whether the transaction object requires a source token approval check."
          },
          "requiresRegisterTransaction": {
            "type": "boolean",
            "description": "Flag indicating whether the transaction requires registration via the registerTxs endpoint. Mandatory for non-EVM transactions."
          },
          "allRoutes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseActionResponse"
            },
            "description": "All available routes for the action."
          }
        }
      },
      "BaseActionResponse": {
        "type": "object",
        "required": [
          "tx",
          "txId",
          "amountIn",
          "vmId",
          "amountInMax",
          "amountOutMin",
          "amountOut",
          "protocolFee",
          "applicationFee",
          "exchangeRate",
          "estimatedTxTime",
          "estimatedPriceImpact",
          "requiresRegisterTransaction"
        ],
        "properties": {
          "tx": {
            "oneOf": [
              {
                "title": "EVM Transaction",
                "$ref": "#/components/schemas/EvmTransaction"
              },
              {
                "title": "Solana Transaction",
                "$ref": "#/components/schemas/SerializedSolTransaction"
              },
              {
                "title": "Alt VM Transaction",
                "$ref": "#/components/schemas/AltVmTransaction"
              },
              {
                "title": "HyperCore Transaction",
                "$ref": "#/components/schemas/HyperCoreTransaction"
              }
            ],
            "description": "Transaction data for execution"
          },
          "txId": {
            "$ref": "#/components/schemas/Hex",
            "description": "Transaction ID"
          },
          "vmId": {
            "type": "string",
            "enum": ["evm", "solana", "alt-vm", "hypercore"],
            "description": "Virtual machine identifier."
          },
          "amountIn": {
            "$ref": "#/components/schemas/Payment",
            "description": "Expected amount to input (exclusive of slippage - recommended value to display in frontend)"
          },
          "amountInMax": {
            "$ref": "#/components/schemas/Payment",
            "description": "Maximum amount to input (inclusive of slippage)"
          },
          "amountOut": {
            "$ref": "#/components/schemas/Payment",
            "description": "Expected amount delivered to users (exclusive of slippage - recommended value to display in frontend)"
          },
          "amountOutMin": {
            "$ref": "#/components/schemas/Payment",
            "description": "Minimum amount delivered to users (inclusive of slippage)"
          },
          "protocolFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Swaps.xyz fee"
          },
          "applicationFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Application fee (your fee!)"
          },
          "bridgeFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Bridge fee (from aggregated providers)"
          },
          "bridgeIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BridgeId"
            },
            "description": "Bridge IDs used in the route."
          },
          "bridgeRoute": {
            "$ref": "#/components/schemas/BridgeRoute",
            "description": "Bridge route information (src chain + token, dst chain + token, BridgeId)"
          },
          "exchangeRate": {
            "type": "number",
            "format": "float",
            "description": "Exchange rate for the swap."
          },
          "estimatedTxTime": {
            "type": "number",
            "format": "float",
            "description": "Estimated transaction time in seconds."
          },
          "estimatedPriceImpact": {
            "type": "number",
            "format": "float",
            "description": "Estimated price impact percentage."
          },
          "requiresRegisterTransaction": {
            "type": "boolean",
            "description": "Flag indicating whether the transaction requires registration via the registerTxs endpoint. Mandatory for non-EVM transactions."
          }
        }
      },
      "ChainId": {
        "type": "integer",
        "description": "Chain ID. Find in the list of supported networks."
      },
      "VmId": {
        "type": "string",
        "enum": ["evm", "solana", "alt-vm", "hypercore"],
        "description": "Virtual machine identifier."
      },
      "BridgeId": {
        "type": "string",
        "enum": [
          "optimism",
          "arbitrum",
          "oft",
          "yield-oft",
          "hyperlane",
          "ghost",
          "mayan",
          "across",
          "relay",
          "alt-vm-1",
          "alt-vm-2"
        ],
        "description": "Bridge protocol identifier."
      },
      "ActionType": {
        "type": "string",
        "enum": ["swap-action", "evm-calldata-tx", "polymarket"],
        "description": "Type of action to perform."
      },
      "SwapDirection": {
        "type": "string",
        "enum": ["exact-amount-in", "exact-amount-out"],
        "description": "Swap direction for the action."
      },
      "EvmTransaction": {
        "type": "object",
        "required": ["to", "data", "value"],
        "properties": {
          "to": {
            "$ref": "#/components/schemas/EvmAddress"
          },
          "data": {
            "$ref": "#/components/schemas/Hex"
          },
          "value": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "description": "Value in wei as string"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          }
        }
      },
      "SerializedSolTransaction": {
        "type": "object",
        "required": ["base64Tx", "recentBlockhash", "payer"],
        "properties": {
          "base64Tx": {
            "type": "string",
            "description": "Base64-encoded transaction"
          },
          "recentBlockhash": {
            "type": "string",
            "description": "Recent blockhash for transaction validity"
          },
          "payer": {
            "$ref": "#/components/schemas/SolanaAddress",
            "description": "PublicKey who pays fees"
          }
        }
      },
      "AltVmTransaction": {
        "type": "object",
        "required": ["to", "toExtra", "value", "chainId", "chainKey"],
        "properties": {
          "to": {
            "$ref": "#/components/schemas/ExchangeAddress",
            "description": "Exchange address"
          },
          "toExtra": {
            "type": "string",
            "nullable": true,
            "description": "Additional address information (e.g., memo, tag). Can be null."
          },
          "value": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "description": "Value as string"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "chainKey": {
            "type": "string",
            "description": "Chain key identifier"
          }
        }
      },
      "HyperCoreAction": {
        "type": "string",
        "enum": ["usdSend"],
        "description": "HyperCore action type"
      },
      "HyperCoreTransaction": {
        "type": "object",
        "required": ["type", "destination", "amount", "chainId"],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/HyperCoreAction"
          },
          "destination": {
            "type": "string",
            "description": "Destination address"
          },
          "amount": {
            "type": "string",
            "description": "Amount to transfer"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId",
            "description": "Chain ID. 1337 for HyperCore"
          }
        }
      },
      "Payment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TokenInfo"
          },
          {
            "type": "object",
            "required": ["amount"],
            "properties": {
              "amount": {
                "type": "string",
                "pattern": "^[0-9]+$"
              },
              "usdAmount": {
                "type": "number",
                "format": "float",
                "description": "USD value of the payment amount"
              }
            }
          }
        ]
      },
      "ExchangeAddress": {
        "type": "string",
        "description": "Exchange address format"
      },
      "TokenInfo": {
        "type": "object",
        "required": [
          "chainId",
          "address",
          "name",
          "symbol",
          "decimals",
          "isNative"
        ],
        "properties": {
          "chainId": {
            "$ref": "#/components/schemas/ChainId",
            "description": "Chain ID for the token"
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "Token address"
          },
          "name": {
            "type": "string",
            "description": "Token name"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          },
          "decimals": {
            "type": "integer",
            "description": "Token decimals"
          },
          "isNative": {
            "type": "boolean",
            "description": "Boolean flag for whether token is the chain's gas token."
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "URL to the token's logo image. Can be null if logo is not available."
          },
          "swapsXyzCode": {
            "type": "string",
            "description": "Internal Swaps.xyz token identifier code."
          }
        }
      },
      "BridgeStep": {
        "type": "object",
        "required": [
          "srcChainId",
          "dstChainId",
          "srcBridgeToken",
          "dstBridgeToken",
          "bridgeId"
        ],
        "properties": {
          "srcChainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "dstChainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "srcBridgeToken": {
            "$ref": "#/components/schemas/Address"
          },
          "dstBridgeToken": {
            "$ref": "#/components/schemas/Address"
          },
          "bridgeId": {
            "$ref": "#/components/schemas/BridgeId"
          }
        }
      },
      "BridgeRoute": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BridgeStep"
        },
        "description": "Array of bridge steps"
      },
      "Address": {
        "type": "string",
        "description": "Address type - can be EvmAddress, HyperCoreAddress, SolanaAddress, or AltVmAddress."
      },
      "EvmAddress": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]{40}$",
        "description": "EVM address (0x prefix + 40 hex characters)"
      },
      "HyperCoreAddress": {
        "type": "string",
        "pattern": "^0x([a-fA-F0-9]{32}|[a-fA-F0-9]{40})$",
        "description": "HyperCore address (0x prefix + 32 or 40 hex characters)"
      },
      "SolanaAddress": {
        "type": "string",
        "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
        "description": "Solana public key (base58 encoded, 32-44 characters)"
      },
      "AltVmAddress": {
        "type": "string",
        "pattern": "^[a-zA-Z0-9\\-_]{10,200}$",
        "description": "AltVM address (alphanumeric with dashes/underscores, 10-200 characters)"
      },
      "Hex": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]*$",
        "description": "Hex string with 0x prefix"
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always false for error responses",
            "enum": [false],
            "example": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "name",
              "message",
              "title",
              "statusCode",
              "timestamp"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error type code for programmatic handling"
              },
              "name": {
                "type": "string",
                "description": "Error class name"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message"
              },
              "title": {
                "type": "string",
                "description": "Short, user-friendly error title"
              },
              "statusCode": {
                "type": "integer",
                "description": "HTTP status code"
              },
              "details": {
                "type": "object",
                "description": "Additional error details",
                "additionalProperties": true
              },
              "timestamp": {
                "type": "string",
                "description": "ISO 8601 timestamp when the error occurred"
              }
            }
          }
        }
      },
      "GetActionErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always false for error responses",
            "enum": [false],
            "example": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "name",
              "message",
              "title",
              "statusCode",
              "timestamp"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error type code for programmatic handling",
                "enum": [
                  "AMOUNT_TOO_HIGH",
                  "AMOUNT_TOO_LOW",
                  "CROSS_VM_RECEIVER_REQUIRED",
                  "EXCESSIVE_FEE",
                  "GEO_BLOCKED",
                  "INSUFFICIENT_LIQUIDITY",
                  "INVALID_ADDRESS_FORMAT",
                  "INVALID_AMOUNT_ZERO",
                  "INVALID_API_KEY",
                  "INVALID_DESTINATION_TOKEN",
                  "INVALID_PARAMETER",
                  "INVALID_SOURCE_TOKEN",
                  "INTERNAL_SERVER_ERROR",
                  "METHOD_NOT_ALLOWED",
                  "MISSING_API_KEY",
                  "MISSING_REQUIRED_FIELD",
                  "NO_AVAILABLE_ROUTE",
                  "UNSUPPORTED_NETWORK",
                  "UNSUPPORTED_NETWORK_PAIR",
                  "UNSUPPORTED_NETWORK_TOKEN_PAIR",
                  "UNSUPPORTED_SWAP_DIRECTION",
                  "WALLET_SCREENED"
                ]
              },
              "name": {
                "type": "string",
                "description": "Error class name",
                "example": "InvalidAddressError"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message",
                "example": "The format of the specified address is invalid."
              },
              "title": {
                "type": "string",
                "description": "Short, user-friendly error title",
                "example": "Invalid address format"
              },
              "statusCode": {
                "type": "integer",
                "description": "HTTP status code",
                "example": 400
              },
              "details": {
                "type": "object",
                "description": "Additional context about the error, including invalid values and suggestions",
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "The field that caused the error"
                  },
                  "address": {
                    "type": "string",
                    "description": "The invalid address value"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Explanation of why the value is invalid"
                  }
                },
                "additionalProperties": true,
                "example": {
                  "field": "srcToken",
                  "address": "0xinvalid",
                  "reason": "Address must be 40 characters long"
                }
              },
              "timestamp": {
                "type": "string",
                "description": "ISO 8601 timestamp when the error occurred",
                "example": "2024-01-01T00:00:00.000Z"
              }
            }
          }
        }
      },
      "ChainListResponse": {
        "type": "object",
        "properties": {
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "name": {
            "type": "string",
            "description": "Human-readable chain name"
          },
          "vmId": {
            "$ref": "#/components/schemas/VmId"
          }
        },
        "required": ["chainId", "name", "vmId"]
      },
      "DexId": {
        "type": "string",
        "description": "DEX identifier (depends on integration)"
      },
      "AppFee": {
        "type": "object",
        "required": ["bps", "receiverAddress"],
        "properties": {
          "bps": {
            "type": "number",
            "description": "Fee in basis points"
          },
          "receiverAddress": {
            "$ref": "#/components/schemas/EvmAddress",
            "description": "EVM address to receive the fee"
          }
        }
      },
      "TokenInfoWithAmounts": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TokenInfo"
          },
          {
            "type": "object",
            "required": ["minAmount", "maxAmount"],
            "properties": {
              "minAmount": {
                "type": "string",
                "nullable": true,
                "description": "Minimum amount of source token for exact-out swaps. \n `null` if no min."
              },
              "maxAmount": {
                "type": "string",
                "nullable": true,
                "description": "Maximum amount of source token for exact-out swaps. \n `null` if no max."
              }
            }
          }
        ]
      },
      "AmountLimits": {
        "type": "object",
        "required": ["minAmount", "maxAmount"],
        "properties": {
          "minAmount": {
            "type": "string",
            "nullable": true,
            "description": "Minimum amount of source token required for exact-in swaps. \n `null` if no min."
          },
          "maxAmount": {
            "type": "string",
            "nullable": true,
            "description": "Maximum amount of source token for exact-in swaps. \n `null` if no max."
          }
        }
      },
      "ChainPath": {
        "type": "object",
        "properties": {
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "tokens": {
            "description": "Available destination tokens for given source token \n `all` indicates all tokens on destination chain are eligible",
            "oneOf": [
              {
                "title": "Named VM",
                "type": "string",
                "enum": ["all"]
              },
              {
                "title": "Token List",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TokenInfoWithAmounts"
                }
              }
            ]
          },
          "supportsExactAmountIn": {
            "type": "boolean"
          },
          "supportsExactAmountOut": {
            "type": "boolean"
          },
          "amountLimits": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AmountLimits"
              },
              {
                "type": "object",
                "deprecated": true,
                "description": "⚠️ This field is maintained for backwards compatibility. Use `srcToken.minAmount` and `srcToken.maxAmount` at the top level of the response instead."
              }
            ]
          }
        },
        "required": [
          "chainId",
          "tokens",
          "supportsExactAmountIn",
          "supportsExactAmountOut"
        ]
      },
      "GetPathsOutput": {
        "type": "object",
        "properties": {
          "srcChainId": {
            "$ref": "#/components/schemas/ChainId",
            "description": "The source chain ID"
          },
          "srcToken": {
            "$ref": "#/components/schemas/TokenInfoWithAmounts",
            "description": "Source token information including amount limits"
          },
          "paths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainPath"
            }
          },
          "timestamp": {
            "type": "string",
            "description": "Response timestamp (ISO string) for cache validation"
          }
        },
        "required": ["srcChainId", "srcToken", "paths", "timestamp"]
      },
      "TxRegistrationEvent": {
        "type": "object",
        "properties": {
          "txId": {
            "type": "string",
            "description": "Unique transaction identifier",
            "example": "0x49b1d3d38176e45864fd55500c6c1879ab318609e1ed0c8eb9abd818e6c811fd"
          },
          "vmId": {
            "type": "string",
            "enum": ["evm", "solana", "alt-vm", "hypercore"],
            "description": "Virtual machine identifier."
          },
          "txHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Transaction hash",
            "example": "0x62d0e13123852791446c6f923c2d0b9247bda10f1eb5eb48ff5b4bc42d22ab42"
          },
          "chainId": {
            "type": "integer",
            "description": "Chain ID where the transaction occurred",
            "example": 42161
          }
        },
        "required": ["txHash", "chainId", "txId", "vmId"]
      },
      "ValidatedTxId": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the transaction registration was successful",
            "example": true
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message if registration failed",
            "example": null
          }
        },
        "required": ["success"]
      },
      "TxStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "pending",
              "requires refund",
              "refunded",
              "failed"
            ],
            "description": "Status of the transaction",
            "example": "success"
          },
          "sender": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Sender wallet address",
            "example": "0x1234567890123456789012345678901234567890"
          },
          "srcChainId": {
            "type": "integer",
            "description": "Source chain ID",
            "example": 1
          },
          "dstChainId": {
            "type": "integer",
            "description": "Destination chain ID",
            "example": 42161
          },
          "srcTxHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Source transaction hash",
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
          },
          "dstTxHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Destination transaction hash",
            "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
          },
          "bridgeDetails": {
            "$ref": "#/components/schemas/BridgeDetails"
          },
          "txId": {
            "type": "string",
            "description": "Unique transaction identifier",
            "example": "0x49b1d3d38176e45864fd55500c6c1879ab318609e1ed0c8eb9abd818e6c811fd"
          },
          "actionRequest": {
            "$ref": "#/components/schemas/ActionRequest",
            "description": "Original action request parameters"
          },
          "actionResponse": {
            "$ref": "#/components/schemas/ActionResponse",
            "description": "Original action response data"
          },
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowData"
              }
            ],
            "nullable": true,
            "description": "Workflow information if transaction is associated with a workflow (only present if the transaction had a workflow)"
          }
        }
      },
      "TxDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TxStatus"
          },
          {
            "type": "object",
            "properties": {
              "org": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Org"
                  }
                ]
              },
              "usdValue": {
                "type": "number",
                "nullable": true,
                "description": "USD value of the transaction",
                "example": 100.5
              },
              "srcTx": {
                "$ref": "#/components/schemas/OnchainTx"
              },
              "dstTx": {
                "$ref": "#/components/schemas/OnchainTx"
              }
            }
          }
        ]
      },
      "BridgeDetails": {
        "type": "object",
        "properties": {
          "isBridge": {
            "type": "boolean",
            "description": "Whether this transaction involves bridging",
            "example": true
          },
          "bridgeTime": {
            "type": "number",
            "nullable": true,
            "description": "Bridge time in seconds (null if not a bridge)",
            "example": 420
          },
          "txPath": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TxNode"
            },
            "description": "Transaction path through different chains"
          }
        },
        "required": ["isBridge", "bridgeTime", "txPath"]
      },
      "TxNode": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "integer",
            "description": "Chain ID for this step",
            "example": 1
          },
          "txHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Transaction hash for this step",
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp as bigint string",
            "example": "1640995200000000000"
          },
          "nextBridge": {
            "type": "string",
            "description": "Bridge type for the next hop",
            "example": "layerZero"
          }
        }
      },
      "OnchainTx": {
        "type": "object",
        "properties": {
          "toAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Recipient address",
            "example": "0x38630c8ec92494cf96ded12060d8136b75e7a8b5"
          },
          "txHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Transaction hash",
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
          },
          "chainId": {
            "type": "integer",
            "description": "Chain ID",
            "example": 1
          },
          "value": {
            "type": "string",
            "description": "Transaction value as string (may include bigint notation like '0n')",
            "example": "0n"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp in seconds",
            "example": 1765593607
          },
          "paymentToken": {
            "$ref": "#/components/schemas/Token"
          },
          "revertReason": {
            "type": "string",
            "nullable": true,
            "description": "Revert reason if transaction failed, null otherwise"
          }
        }
      },
      "Token": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Token name",
            "example": "Ethereum"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol",
            "example": "ETH"
          },
          "decimals": {
            "type": "integer",
            "description": "Token decimals",
            "example": 18
          },
          "amount": {
            "type": "string",
            "description": "Token amount as bigint string",
            "example": "1000000000000000000"
          },
          "address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Token contract address",
            "example": "0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174"
          },
          "chainId": {
            "type": "integer",
            "description": "Chain ID for the token",
            "example": 137
          },
          "isNative": {
            "type": "boolean",
            "description": "Whether the token is the native gas token",
            "example": false
          },
          "usdAmount": {
            "type": "number",
            "description": "USD value of the token amount",
            "example": 4.00687776
          }
        },
        "required": [
          "name",
          "symbol",
          "decimals",
          "amount",
          "address",
          "chainId",
          "isNative"
        ]
      },
      "Org": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string",
            "description": "Application ID",
            "example": "0xb38801d6"
          },
          "appName": {
            "type": "string",
            "description": "Application name",
            "example": "Box Examples / Scenarios"
          },
          "affiliateId": {
            "type": "string",
            "description": "Affiliate ID",
            "example": "0x00000000"
          }
        },
        "required": ["appId", "affiliateId"]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "Results per page",
            "example": 25
          },
          "total": {
            "type": "integer",
            "description": "Total number of results",
            "example": 150
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 6
          }
        },
        "required": ["page", "limit", "total", "totalPages"]
      },
      "get_400__api_getStatusSchema": {
        "$ref": "#/components/schemas/ErrorResponse"
      },
      "post_200__webhooks_registerTxsSchema": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ValidatedTxId"
        }
      },
      "ActionRequest": {
        "type": "object",
        "properties": {
          "actionType": {
            "$ref": "#/components/schemas/ActionType",
            "description": "Type of action to perform"
          },
          "sender": {
            "$ref": "#/components/schemas/Address",
            "description": "The address of the sender/user"
          },
          "srcChainId": {
            "$ref": "#/components/schemas/ChainId",
            "description": "Source chain ID"
          },
          "srcToken": {
            "$ref": "#/components/schemas/Address",
            "description": "Source token address"
          },
          "dstChainId": {
            "$ref": "#/components/schemas/ChainId",
            "description": "Destination chain ID"
          },
          "dstToken": {
            "$ref": "#/components/schemas/Address",
            "description": "Destination token address"
          },
          "slippage": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10000,
            "description": "Slippage tolerance in bps"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]$",
            "description": "The exact in or exact out amount of the swap"
          },
          "swapDirection": {
            "$ref": "#/components/schemas/SwapDirection",
            "description": "Swap direction for the action"
          },
          "recipient": {
            "$ref": "#/components/schemas/Address",
            "description": "Address to receive the swapped tokens"
          },
          "to": {
            "$ref": "#/components/schemas/Address",
            "description": "The EVM address of the target contract (20 bytes hex)"
          },
          "data": {
            "$ref": "#/components/schemas/Hex",
            "description": "Calldata for the transaction"
          },
          "value": {
            "type": "string",
            "pattern": "^[0-9]$",
            "description": "Value to send with transaction"
          },
          "erc20Amount": {
            "type": "string",
            "pattern": "^[0-9]$",
            "description": "The amount of Erc20 being transferred"
          },
          "erc20Spender": {
            "$ref": "#/components/schemas/Address",
            "description": "The Erc20 spender requiring approval for the transaction call"
          },
          "bridgeIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BridgeId"
            },
            "description": "Specific bridge protocols to use"
          },
          "refundTo": {
            "$ref": "#/components/schemas/Address",
            "description": "Alternate address to receive refunds"
          },
          "appFees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppFee"
            },
            "maxItems": 2,
            "description": "Application fees configuration"
          }
        },
        "required": [
          "actionType",
          "sender",
          "srcChainId",
          "srcToken",
          "dstChainId",
          "dstToken",
          "slippage"
        ]
      },
      "CreateOrFetchPolymarketUserRequest": {
        "type": "object",
        "required": ["evmEoa"],
        "properties": {
          "evmEoa": {
            "$ref": "#/components/schemas/EvmAddress",
            "description": "EVM address (wallet address)"
          }
        }
      },
      "CreateOrFetchPolymarketUserResponse": {
        "type": "object",
        "required": ["userCredentials", "newUser", "userId"],
        "properties": {
          "userCredentials": {
            "$ref": "#/components/schemas/UserCredentials",
            "description": "User credentials object containing wallet information"
          },
          "newUser": {
            "type": "boolean",
            "description": "Whether this is a newly created user (true) or existing user (false)",
            "example": true
          },
          "userId": {
            "type": "string",
            "description": "Polymarket user ID (EVM address)",
            "example": "0x0797bfec6d2d4f733d461bbee8125805e9e9c892"
          }
        }
      },
      "UserCredentials": {
        "type": "object",
        "required": ["evmEoa"],
        "properties": {
          "evmEoa": {
            "$ref": "#/components/schemas/EvmAddress",
            "description": "The home EOA address (wallet address)"
          },
          "proxyWallet": {
            "$ref": "#/components/schemas/EvmAddress",
            "description": "Proxy wallet address (if available)",
            "nullable": true
          },
          "proxyWalletStatus": {
            "$ref": "#/components/schemas/ProxyWalletStatus",
            "description": "Status of the proxy wallet",
            "nullable": true
          }
        }
      },
      "ProxyWalletStatus": {
        "type": "string",
        "enum": [
          "ready",
          "deploying",
          "permissioning",
          "failed-deploy",
          "failed-permission",
          "not-created"
        ],
        "description": "Status of the proxy wallet"
      },
      "WorkflowStatusResponse": {
        "type": "object",
        "required": [
          "txId",
          "status",
          "operation",
          "timestamp",
          "name",
          "data"
        ],
        "properties": {
          "txId": {
            "type": "string",
            "description": "Transaction ID",
            "example": "0x36f51092bdfb6f9793fefd9b2d27529fbf7362b48ded9acb7fa4cc7aea03aeca"
          },
          "status": {
            "type": "string",
            "enum": ["success", "failed", "pending"],
[...]
