{
  "openapi": "3.0.3",
  "info": {
    "title": "Swaps API",
    "description": "The Swaps API provides instant cross-chain swap and bridge functionality for decentralized applications.\nIt supports multiple virtual machines (EVM, Solana, Bitcoin) and various DEX protocols and bridge solutions.",
    "version": "3.0.0",
    "contact": {
      "name": "Swaps.xyz",
      "url": "https://swaps.xyz"
    }
  },
  "servers": [
    {
      "url": "https://ghost-v1-0-0.api.decentxyz.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/getBoxAction": {
      "get": {
        "summary": "Get Action",
        "description": "Generates a transaction or transaction instructions for cross-chain swaps, bridges, and calls. The action includes transaction data,\nrouting information, and fee calculations for executing the requested operation.",
        "operationId": "getBoxAction",
        "parameters": [
          {
            "name": "arguments",
            "in": "query",
            "required": true,
            "description": "JSON object containing all request parameters. Rendered below as individual fields and serialized to a string.",
            "schema": {
              "$ref": "#/components/schemas/BoxActionRequest"
            },
            "x-display-as": "individual-fields",
            "style": "deepObject",
            "explode": true,
            "example": "{\"sender\":\"0xAcCC1fe6537eb8EB56b31CcFC48Eb9363e8dd32E\",\"srcChainId\":8453,\"dstChainId\":42161,\"srcToken\":\"0x0000000000000000000000000000000000000000\",\"dstToken\":\"0x0000000000000000000000000000000000000000\",\"slippage\":1,\"actionType\":\"swap-action\",\"actionConfig\":{\"chainId\":8453,\"swapDirection\":\"exact-amount-in\",\"receiverAddress\":\"0xAcCC1fe6537eb8EB56b31CcFC48Eb9363e8dd32E\",\"amount\":\"1000000000000000000n\"}}"
          },          
          {
            "name": "sender",
            "in": "query",
            "required": false,
            "description": "The address of the sender/user",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0xAcCC1fe6537eb8EB56b31CcFC48Eb9363e8dd32E",
            "x-display-only": true
          },
          {
            "name": "srcChainId",
            "in": "query",
            "required": false,
            "description": "Source chain ID",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            },
            "example": 8453,
            "x-display-only": true
          },
          {
            "name": "dstChainId",
            "in": "query",
            "required": false,
            "description": "Destination chain ID",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            },
            "example": 42161,
            "x-display-only": true
          },
          {
            "name": "srcToken",
            "in": "query",
            "required": false,
            "description": "Source token address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0x0000000000000000000000000000000000000000",
            "x-display-only": true
          },
          {
            "name": "dstToken",
            "in": "query",
            "required": false,
            "description": "Destination token address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0x0000000000000000000000000000000000000000",
            "x-display-only": true
          },
          {
            "name": "slippage",
            "in": "query",
            "required": false,
            "description": "Slippage tolerance in percentage",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "maximum": 100
            },
            "example": 1,
            "x-display-only": true
          },
          {
            "name": "actionType",
            "in": "query",
            "required": false,
            "description": "Type of action to perform",
            "schema": {
              "$ref": "#/components/schemas/ActionType"
            },
            "example": "swap-action",
            "x-display-only": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with action data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No routes found for the requested action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BoxActionRequest": {
        "type": "object",
        "required": [
          "sender",
          "srcChainId",
          "dstChainId",
          "srcToken",
          "dstToken",
          "slippage",
          "actionType",
          "actionConfig"
        ],
        "properties": {
          "actionType": {
            "$ref": "#/components/schemas/ActionType",
            "description": "Type of action to perform"
          },
          "sender": {
            "$ref": "#/components/schemas/Address",
            "description": "The address of the sender/user"
          },
          "srcChainId": {
            "$ref": "#/components/schemas/ChainId",
            "description": "Source chain ID"
          },
          "srcToken": {
            "$ref": "#/components/schemas/Address",
            "description": "Source token address (optional, defaults to native token)"
          },
          "dstChainId": {
            "$ref": "#/components/schemas/ChainId",
            "description": "Destination chain ID"
          },
          "dstToken": {
            "$ref": "#/components/schemas/Address",
            "description": "Destination token address (optional, defaults to native token)"
          },
          "slippage": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "description": "Slippage tolerance in percentage"
          },
          "actionConfig": {
            "oneOf": [
              {
                "title": "Swap",
                "$ref": "#/components/schemas/SwapActionConfig"
              },
              {
                "title": "Calldata",
                "$ref": "#/components/schemas/EvmCalldataTxConfig"
              },
              {
                "title": "EVM Function",
                "$ref": "#/components/schemas/EvmFunctionConfig"
              }
            ],
            "description": "Configuration for the action",
            "discriminator": {
              "propertyName": "actionType",
              "mapping": {
                "swap-action": "#/components/schemas/SwapActionConfig",
                "evm-function": "#/components/schemas/EvmFunctionConfig",
                "evm-calldata-tx": "#/components/schemas/EvmCalldataTxConfig"
              }
            }
          }
        }
      },
      "BoxActionResponse": {
        "type": "object",
        "required": [
          "tx",
          "txId",
          "tokenPayment",
          "amountIn",
          "amountInMax",
          "amountOutMin",
          "amountOut",
          "protocolFee",
          "applicationFee",
          "exchangeRate",
          "estimatedTxTime",
          "estimatedPriceImpact",
          "allRoutes"
        ],
        "properties": {
          "tx": {
            "oneOf": [
              {
                "title": "EVM Transaction",
                "$ref": "#/components/schemas/EvmTransaction"
              },
              {
                "title": "Solana Transaction",
                "$ref": "#/components/schemas/SerializedSolTransaction"
              }
            ],
            "description": "Transaction data for execution"
          },
          "txId": {
            "$ref": "#/components/schemas/Hex",
            "description": "Transaction ID"
          },
          "tokenPayment": {
            "$ref": "#/components/schemas/Payment",
            "description": "Token payment information (`amount` is `amountIn` exclusive of slippage - recommended value to display in frontend)"
          },
          "amountInMax": {
            "$ref": "#/components/schemas/Payment",
            "description": "Maximum amount to input (inclusive of slippage)"
          },
          "amountOut": {
            "$ref": "#/components/schemas/Payment",
            "description": "Expected amount delivered to users (exclusive of slippage - recommended value to display in frontend)"
          },
          "amountOutMin": {
            "$ref": "#/components/schemas/Payment",
            "description": "Minimum amount delivered to users (inclusive of slippage)"
          },
          "protocolFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Swaps.xyz fee"
          },
          "applicationFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Application fee (your fee!)"
          },
          "bridgeFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Bridge fee (from aggregated providers)"
          },
          "bridgeIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BridgeId"
            },
            "description": "Bridge IDs used in the route."
          },
          "bridgeRoute": {
            "$ref": "#/components/schemas/BridgeRoute",
            "description": "Bridge route information (src chain + token, dst chain + token, BridgeId)"
          },
          "exchangeRate": {
            "type": "number",
            "format": "float",
            "description": "Exchange rate for the swap."
          },
          "estimatedTxTime": {
            "type": "integer",
            "description": "Estimated transaction time in seconds."
          },
          "estimatedPriceImpact": {
            "type": "number",
            "format": "float",
            "description": "Estimated price impact percentage."
          },
          "amountIn": {
            "$ref": "#/components/schemas/Payment",
            "description": "Amount to input (exclusive of slippage)"
          },
          "allRoutes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PerRouteResponse"
            },
            "description": "All available routes for the action."
          }
        }
      },
      "PerRouteResponse": {
        "type": "object",
        "required": [
          "tx",
          "txId",
          "tokenPayment",
          "amountIn",
          "amountInMax",
          "amountOutMin",
          "amountOut",
          "protocolFee",
          "applicationFee",
          "exchangeRate",
          "estimatedTxTime",
          "estimatedPriceImpact"
        ],
        "properties": {
          "tx": {
            "oneOf": [
              {
                "title": "EVM Transaction",
                "$ref": "#/components/schemas/EvmTransaction"
              },
              {
                "title": "Solana Transaction",
                "$ref": "#/components/schemas/SerializedSolTransaction"
              }
            ],
            "description": "Transaction data for execution"
          },
          "txId": {
            "$ref": "#/components/schemas/Hex",
            "description": "Transaction ID"
          },
          "tokenPayment": {
            "$ref": "#/components/schemas/Payment",
            "description": "Token payment information (`amount` is `amountIn` exclusive of slippage - recommended value to display in frontend)"
          },
          "amountInMax": {
            "$ref": "#/components/schemas/Payment",
            "description": "Maximum amount to input (inclusive of slippage)"
          },
          "amountOut": {
            "$ref": "#/components/schemas/Payment",
            "description": "Expected amount delivered to users (exclusive of slippage - recommended value to display in frontend)"
          },
          "amountOutMin": {
            "$ref": "#/components/schemas/Payment",
            "description": "Minimum amount delivered to users (inclusive of slippage)"
          },
          "protocolFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Swaps.xyz fee"
          },
          "applicationFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Application fee (your fee!)"
          },
          "bridgeFee": {
            "$ref": "#/components/schemas/Payment",
            "description": "Bridge fee (from aggregated providers)"
          },
          "bridgeIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BridgeId"
            },
            "description": "Bridge IDs used in the route."
          },
          "bridgeRoute": {
            "$ref": "#/components/schemas/BridgeRoute",
            "description": "Bridge route information (src chain + token, dst chain + token, BridgeId)"
          },
          "exchangeRate": {
            "type": "number",
            "format": "float",
            "description": "Exchange rate for the swap."
          },
          "estimatedTxTime": {
            "type": "integer",
            "description": "Estimated transaction time in seconds."
          },
          "estimatedPriceImpact": {
            "type": "number",
            "format": "float",
            "description": "Estimated price impact percentage."
          },
          "amountIn": {
            "$ref": "#/components/schemas/Payment",
            "description": "Amount to input (exclusive of slippage)"
          }
        }
      },
      "ChainId": {
        "type": "number",
        "description": "View list of supported chains and Ids [HERE]"
      },
      "VMId": {
        "type": "string",
        "enum": [
          "evm",
          "solana"
        ],
        "description": "Virtual machine identifier."
      },
      "BridgeId": {
        "type": "string",
        "enum": [
          "optimism",
          "arbitrum",
          "oft",
          "yield-oft",
          "hyperlane",
          "ghost",
          "mayan",
          "across",
          "relay"
        ],
        "description": "Bridge protocol identifier."
      },
      "DexId": {
        "type": "string",
        "enum": [
          "camelot",
          "uniV2",
          "uniV3",
          "curve",
          "merchantMoe",
          "anyswapper",
          "0x"
        ],
        "description": "DEX protocol identifier. AnySwapper provides compatibility with any DEX."
      },
      "ActionType": {
        "type": "string",
        "enum": [
          "evm-calldata-tx",
          "evm-function",
          "swap-action"
        ],
        "description": "Type of action to perform."
      },
      "SwapDirection": {
        "type": "string",
        "enum": [
          "exact-amount-in",
          "exact-amount-out"
        ],
        "description": "Swap direction for the action."
      },
      "SwapActionConfig": {
        "type": "object",
        "required": [
          "swapDirection",
          "amount",
          "chainId",
          "receiverAddress"
        ],
        "properties": {
          "swapDirection": {
            "$ref": "#/components/schemas/SwapDirection"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Enter amount as bigint. Will be serialized to string in API requst (e.g., 100000000000000000n)"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "receiverAddress": {
            "$ref": "#/components/schemas/Address",
            "description": "Address to receive the swapped tokens"
          }
        }
      },
      "EvmFunctionConfig": {
        "type": "object",
        "required": [
          "contractAddress",
          "functinSignature",
          "args",
          "chainId"
        ],
        "properties": {
          "contractAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "functionSignature": {
            "type": "string",
            "description": "Function signature"
          },
          "args": {
            "type": "array",
            "description": "Function arguments"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "cost": {
            "$ref": "#/components/schemas/Payment"
          }
        }
      },
      "EvmCalldataTxConfig": {
        "type": "object",
        "required": [
          "contractAddress",
          "chainId",
          "value",
          "cost",
          "data"
        ],
        "properties": {
          "contractAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "value": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Value to send with transaction as string with 'n' suffix (bigint serialized)"
          },
          "cost": {
            "$ref": "#/components/schemas/Payment"
          },
          "data": {
            "$ref": "#/components/schemas/Hex",
            "description": "Calldata for the transaction"
          }
        }
      },
      "EvmTransaction": {
        "type": "object",
        "required": [
          "to",
          "data",
          "value"
        ],
        "properties": {
          "to": {
            "$ref": "#/components/schemas/EvmAddress"
          },
          "data": {
            "$ref": "#/components/schemas/Hex"
          },
          "value": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Value in wei as string with 'n' suffix (bigint serialized)"
          },
          "gasPrice": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Gas price in wei as string with 'n' suffix (bigint serialized)"
          },
          "gasLimit": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Gas limit as string with 'n' suffix (bigint serialized)"
          },
          "maxFeePerGas": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Max fee per gas as string with 'n' suffix (bigint serialized)"
          },
          "maxPriorityFeePerGas": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Max priority fee per gas as string with 'n' suffix (bigint serialized)"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          }
        }
      },
      "SerializedSolTransaction": {
        "type": "object",
        "required": [
          "base64Tx",
          "recentBlockhash",
          "payer"
        ],
        "properties": {
          "base64Tx": {
            "type": "string",
            "description": "Base64-encoded transaction"
          },
          "recentBlockhash": {
            "type": "string",
            "description": "Recent blockhash for transaction validity"
          },
          "payer": {
            "$ref": "#/components/schemas/SolanaAddress",
            "description": "PublicKey who pays fees"
          }
        }
      },
      "Payment": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TokenPayment"
          },
          {
            "$ref": "#/components/schemas/NativePayment"
          }
        ]
      },
      "TokenPayment": {
        "type": "object",
        "required": [
          "amount",
          "tokenAddress",
          "isNative"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Amount as string with 'n' suffix (bigint serialized)"
          },
          "tokenAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "isNative": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "decimals": {
            "type": "integer"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          }
        }
      },
      "NativePayment": {
        "type": "object",
        "required": [
          "amount",
          "isNative"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Amount as string with 'n' suffix (bigint serialized)"
          },
          "isNative": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "tokenAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "decimals": {
            "type": "integer"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "chainId": {
            "$ref": "#/components/schemas/ChainId"
          }
        }
      },
      "BridgeStep": {
        "type": "object",
        "required": [
          "srcChainId",
          "dstChainId",
          "srcBridgeToken",
          "dstBridgeToken",
          "bridgeId"
        ],
        "properties": {
          "srcChainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "dstChainId": {
            "$ref": "#/components/schemas/ChainId"
          },
          "srcBridgeToken": {
            "$ref": "#/components/schemas/Address"
          },
          "dstBridgeToken": {
            "$ref": "#/components/schemas/Address"
          },
          "bridgeId": {
            "$ref": "#/components/schemas/BridgeId"
          }
        }
      },
      "BridgeRoute": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BridgeStep"
        },
        "description": "Array of bridge steps"
      },
      "EvmAction": {
        "type": "object",
        "required": [
          "address",
          "signatures",
          "args",
          "functionName"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/EvmAddress"
          },
          "signatures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "args": {
            "type": "array"
          },
          "functionName": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "pattern": "^[0-9]+n$",
            "description": "Value in wei as string with 'n' suffix (bigint serialized)"
          }
        }
      },
      "Address": {
        "type": "string",
        "pattern": "^[0-9a-fA-F]{40}$",
        "description": "EVM address (20 bytes hex)"
      },
      "EvmAddress": {
        "type": "string",
        "pattern": "^[0-9a-fA-F]{40}$",
        "description": "EVM address (20 bytes hex)"
      },
      "SolanaAddress": {
        "type": "string",
        "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
        "description": "Solana public key (base58 encoded)"
      },
      "Hex": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]*$",
        "description": "Hex string with 0x prefix"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication.  Limited demo key: `e2c440ee9c0cf66bb58ede58ac0eb7f1`.  You must generate a unique key."
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}