{
  "openapi": "3.1.0",
  "info": {
    "title": "Prediction Market Data API",
    "description": "Comprehensive API endpoints for querying data from prediction markets supported via workflows.",
    "version": "1.0.0",
    "contact": {
      "name": "Swaps.xyz",
      "url": "https://swaps.xyz"
    }
  },
  "servers": [
    {
      "url": "https://api-v2.swaps.xyz",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/workflows/polymarket/search": {
      "get": {
        "summary": "Search Markets",
        "description": "Search for markets and events by query string or tags.",
        "operationId": "searchMarkets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string. Use '*' to return all results.",
            "schema": {
              "type": "string"
            },
            "example": "new-england-patriots"
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "Array of tag IDs to filter by (can be repeated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": true,
            "example": [450, 226]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results per type",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "activeOnly",
            "in": "query",
            "description": "Only return markets currently accepting orders",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardizedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getTags": {
      "get": {
        "summary": "Get Tags",
        "description": "Retrieve all available tags for filtering markets.",
        "operationId": "getTags",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of tags to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based index of first tag to return",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Filter by tag slug",
            "schema": {
              "type": "string"
            },
            "example": "nfl"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getEvent": {
      "get": {
        "summary": "Get Event",
        "description": "Retrieve detailed information about a specific event, including all associated markets.",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "description": "Event slug identifier",
            "schema": {
              "type": "string"
            },
            "example": "largest-company-end-of-2025"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details with markets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getMarkets": {
      "get": {
        "summary": "Get Markets",
        "description": "Retrieve market information by CLOB token IDs, slugs, or tag ID.",
        "operationId": "getMarkets",
        "parameters": [
          {
            "name": "clobTokenIds",
            "in": "query",
            "description": "Array of CLOB token IDs (can be repeated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": [
              "80746058984644290629624903019922696017323803605256698757445938534814122585786"
            ]
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Market slug identifier",
            "schema": {
              "type": "string"
            },
            "example": "fed-decreases-interest-rates-by-50-bps-after-december-2025-meeting"
          },
          {
            "name": "tagId",
            "in": "query",
            "description": "Filter by tag ID",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Market events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getMarketPrice": {
      "get": {
        "summary": "Get Market Price",
        "description": "Retrieve the current best price for a specific token and side (BUY or SELL).",
        "operationId": "getMarketPrice",
        "parameters": [
          {
            "name": "clobTokenId",
            "in": "query",
            "required": true,
            "description": "CLOB token ID",
            "schema": {
              "type": "string"
            },
            "example": "80746058984644290629624903019922696017323803605256698757445938534814122585786"
          },
          {
            "name": "side",
            "in": "query",
            "required": true,
            "description": "Order side (BUY or SELL)",
            "schema": {
              "type": "string",
              "enum": ["BUY", "SELL"]
            },
            "example": "BUY"
          }
        ],
        "responses": {
          "200": {
            "description": "Current market price",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["price"],
                  "properties": {
                    "price": {
                      "type": "string",
                      "description": "Current best price for the specified side",
                      "example": "0.52"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getPriceHistory": {
      "get": {
        "summary": "Get Price History",
        "description": "Retrieve historical price data for a specific token over a given time interval.",
        "operationId": "getPriceHistory",
        "parameters": [
          {
            "name": "clobTokenId",
            "in": "query",
            "required": true,
            "description": "CLOB token ID",
            "schema": {
              "type": "string"
            },
            "example": "47380452228751713070322726097676074449505499789775322838989368264459427079864"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "Time interval for price history",
            "schema": {
              "type": "string",
              "enum": ["1hr", "1d", "1w", "1m", "max"]
            },
            "example": "1d"
          }
        ],
        "responses": {
          "200": {
            "description": "Price history data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["history"],
                  "properties": {
                    "history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["t", "p"],
                        "properties": {
                          "t": {
                            "type": "integer",
                            "description": "Unix timestamp",
                            "example": 1735689600
                          },
                          "p": {
                            "type": "number",
                            "format": "float",
                            "description": "Price at timestamp",
                            "example": 0.52
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getTrendingMarkets": {
      "get": {
        "summary": "Get Trending Markets",
        "description": "Retrieve trending markets sorted by 24-hour volume. Markets must have minimum $150K of 24h volume.",
        "operationId": "getTrendingMarkets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending markets response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardizedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getCurrentPositions": {
      "get": {
        "summary": "Get Current Positions",
        "description": "Retrieve all current open positions for a specific user.",
        "operationId": "getCurrentPositions",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "User EVM EOA address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0x0797bfec6d2d4f733d461bbee8125805e9e9c892"
          },
          {
            "name": "proxyWallet",
            "in": "query",
            "description": "Polymarket proxy wallet address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "redeemable",
            "in": "query",
            "description": "Filter for redeemable positions only",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "mergable",
            "in": "query",
            "description": "Filter for mergable positions only",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of current positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getClosedPositions": {
      "get": {
        "summary": "Get Closed Positions",
        "description": "Retrieve closed positions (resolved markets) for a specific user.",
        "operationId": "getClosedPositions",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "User EVM EOA address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0x0797bfec6d2d4f733d461bbee8125805e9e9c892"
          },
          {
            "name": "proxyWallet",
            "in": "query",
            "description": "Polymarket proxy wallet address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of closed positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClosedPosition"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getTrades": {
      "get": {
        "summary": "Get Trades",
        "description": "Retrieve trade history for a specific user.",
        "operationId": "getTrades",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "User EVM EOA address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0x0797bfec6d2d4f733d461bbee8125805e9e9c892"
          },
          {
            "name": "proxyWallet",
            "in": "query",
            "description": "Polymarket proxy wallet address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getActivity": {
      "get": {
        "summary": "Get Activity",
        "description": "Retrieve comprehensive activity history for a specific user, including orders, trades, and other actions.",
        "operationId": "getActivity",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "User EVM EOA address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0x0797bfec6d2d4f733d461bbee8125805e9e9c892"
          },
          {
            "name": "proxyWallet",
            "in": "query",
            "description": "Polymarket proxy wallet address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of activity items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/workflows/polymarket/getPnL": {
      "get": {
        "summary": "Get Profit and Loss",
        "description": "Retrieve aggregate profit and loss information across all positions for a specific user.",
        "operationId": "getPnL",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "User EVM EOA address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "example": "0x0797bfec6d2d4f733d461bbee8125805e9e9c892"
          },
          {
            "name": "proxyWallet",
            "in": "query",
            "description": "Polymarket proxy wallet address",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profit and loss summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnLResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]{40}$",
        "description": "EVM address (0x prefix + 40 hex characters)",
        "example": "0x1234567890123456789012345678901234567890"
      },
      "Tag": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique tag identifier"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable tag label"
          },
          "slug": {
            "type": "string",
            "nullable": true,
            "description": "URL-friendly tag identifier"
          },
          "forceShow": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to force show this tag"
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "description": "Tag publication timestamp (format: YYYY-MM-DD HH:mm:ss.SSS+00)"
          },
          "createdBy": {
            "type": "integer",
            "nullable": true,
            "description": "ID of user who created the tag"
          },
          "updatedBy": {
            "type": "integer",
            "nullable": true,
            "description": "ID of user who last updated the tag"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tag creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tag last update timestamp"
          },
          "forceHide": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to force hide this tag"
          },
          "isCarousel": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether this tag is a carousel tag"
          },
          "requiresTranslation": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether this tag requires translation"
          }
        }
      },
      "Series": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique series identifier"
          },
          "ticker": {
            "type": ["string", "null"],
            "description": "Series ticker symbol"
          },
          "slug": {
            "type": ["string", "null"],
            "description": "URL-friendly series identifier"
          },
          "title": {
            "type": ["string", "null"],
            "description": "Series title"
          },
          "seriesType": {
            "type": ["string", "null"],
            "description": "Type of series (e.g., 'single')"
          },
          "recurrence": {
            "type": ["string", "null"],
            "description": "Recurrence pattern (e.g., 'monthly', 'weekly')"
          },
          "image": {
            "type": ["string", "null"],
            "description": "Series image URL"
          },
          "icon": {
            "type": ["string", "null"],
            "description": "Series icon URL"
          },
          "active": {
            "type": ["boolean", "null"],
            "description": "Whether series is active"
          },
          "closed": {
            "type": ["boolean", "null"],
            "description": "Whether series is closed"
          },
          "archived": {
            "type": ["boolean", "null"],
            "description": "Whether series is archived"
          },
          "featured": {
            "type": ["boolean", "null"],
            "description": "Whether series is featured"
          },
          "restricted": {
            "type": ["boolean", "null"],
            "description": "Whether series has restrictions"
          },
          "createdAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Series creation timestamp"
          },
          "updatedAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Series last update timestamp"
          },
          "volume": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Total series volume"
          },
          "liquidity": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Total series liquidity"
          },
          "commentCount": {
            "type": ["integer", "null"],
            "description": "Number of comments on series"
          }
        }
      },
      "Market": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique market identifier"
          },
          "question": {
            "type": ["string", "null"],
            "description": "Market question"
          },
          "conditionId": {
            "type": ["string", "null"],
            "description": "Condition ID for the market"
          },
          "slug": {
            "type": ["string", "null"],
            "description": "URL-friendly market identifier"
          },
          "resolutionSource": {
            "type": ["string", "null"],
            "description": "Source for market resolution"
          },
          "endDate": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Market end date"
          },
          "liquidity": {
            "type": ["string", "null"],
            "description": "Market liquidity"
          },
          "startDate": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Market start date"
          },
          "description": {
            "type": ["string", "null"],
            "description": "Detailed market description"
          },
          "outcomes": {
            "type": ["string", "null"],
            "description": "JSON string of possible outcomes"
          },
          "outcomePrices": {
            "type": ["string", "null"],
            "description": "JSON string of outcome prices"
          },
          "volume": {
            "type": ["string", "null"],
            "description": "Market trading volume"
          },
          "active": {
            "type": ["boolean", "null"],
            "description": "Whether market is active"
          },
          "closed": {
            "type": ["boolean", "null"],
            "description": "Whether market is closed"
          },
          "marketMakerAddress": {
            "type": ["string", "null"],
            "description": "Market maker address"
          },
          "createdAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Market creation timestamp"
          },
          "updatedAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Market last update timestamp"
          },
          "new": {
            "type": ["boolean", "null"],
            "description": "Whether market is new"
          },
          "featured": {
            "type": ["boolean", "null"],
            "description": "Whether market is featured"
          },
          "submitted_by": {
            "type": ["string", "null"],
            "description": "Address of user who submitted the market"
          },
          "archived": {
            "type": ["boolean", "null"],
            "description": "Whether market is archived"
          },
          "resolvedBy": {
            "type": ["string", "null"],
            "description": "Address of resolver"
          },
          "restricted": {
            "type": ["boolean", "null"],
            "description": "Whether market has restrictions"
          },
          "groupItemTitle": {
            "type": ["string", "null"],
            "description": "Group item title"
          },
          "groupItemThreshold": {
            "type": ["string", "null"],
            "description": "Group item threshold"
          },
          "questionID": {
            "type": ["string", "null"],
            "description": "Question ID"
          },
          "enableOrderBook": {
            "type": ["boolean", "null"],
            "description": "Whether order book is enabled"
          },
          "orderPriceMinTickSize": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Minimum tick size for orders"
          },
          "orderMinSize": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Minimum order size"
          },
          "volumeNum": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Numeric volume"
          },
          "liquidityNum": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Numeric liquidity"
          },
          "endDateIso": {
            "type": ["string", "null"],
            "description": "ISO date string of end date"
          },
          "startDateIso": {
            "type": ["string", "null"],
            "description": "ISO date string of start date"
          },
          "hasReviewedDates": {
            "type": ["boolean", "null"],
            "description": "Whether dates have been reviewed"
          },
          "volume24hr": {
            "type": ["number", "null"],
            "format": "float",
            "description": "24-hour trading volume"
          },
          "volume1wk": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-week trading volume"
          },
          "volume1mo": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-month trading volume"
          },
          "volume1yr": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-year trading volume"
          },
          "clobTokenIds": {
            "type": ["string", "null"],
            "description": "JSON string of CLOB token IDs"
          },
          "umaBond": {
            "type": ["string", "null"],
            "description": "UMA bond amount"
          },
          "umaReward": {
            "type": ["string", "null"],
            "description": "UMA reward amount"
          },
          "volume24hrAmm": {
            "type": ["number", "null"],
            "format": "float",
            "description": "24-hour AMM volume"
          },
          "volume1wkAmm": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-week AMM volume"
          },
          "volume1moAmm": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-month AMM volume"
          },
          "volume1yrAmm": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-year AMM volume"
          },
          "volume24hrClob": {
            "type": ["number", "null"],
            "format": "float",
            "description": "24-hour CLOB volume"
          },
          "volume1wkClob": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-week CLOB volume"
          },
          "volume1moClob": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-month CLOB volume"
          },
          "volume1yrClob": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-year CLOB volume"
          },
          "volumeAmm": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Total AMM volume"
          },
          "volumeClob": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Total CLOB volume"
          },
          "liquidityAmm": {
            "type": ["number", "null"],
            "format": "float",
            "description": "AMM liquidity"
          },
          "liquidityClob": {
            "type": ["number", "null"],
            "format": "float",
            "description": "CLOB liquidity"
          },
          "acceptingOrders": {
            "type": ["boolean", "null"],
            "description": "Whether market is accepting orders"
          },
          "negRisk": {
            "type": ["boolean", "null"],
            "description": "Whether market uses negative risk"
          },
          "negRiskMarketID": {
            "type": ["string", "null"],
            "description": "Negative risk market ID"
          },
          "negRiskRequestID": {
            "type": ["string", "null"],
            "description": "Negative risk request ID"
          },
          "ready": {
            "type": ["boolean", "null"],
            "description": "Whether market is ready"
          },
          "funded": {
            "type": ["boolean", "null"],
            "description": "Whether market is funded"
          },
          "acceptingOrdersTimestamp": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "When market started accepting orders"
          },
          "cyom": {
            "type": ["boolean", "null"],
            "description": "Create Your Own Market flag"
          },
          "competitive": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Competitiveness score"
          },
          "pagerDutyNotificationEnabled": {
            "type": ["boolean", "null"],
            "description": "Whether PagerDuty notifications are enabled"
          },
          "approved": {
            "type": ["boolean", "null"],
            "description": "Whether market is approved"
          },
          "clobRewards": {
            "type": ["array", "null"],
            "items": {
              "type": "object"
            },
            "description": "CLOB rewards"
          },
          "rewardsMinSize": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Minimum size for rewards"
          },
          "rewardsMaxSpread": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Maximum spread for rewards"
          },
          "spread": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Current spread"
          },
          "oneDayPriceChange": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-day price change"
          },
          "oneHourPriceChange": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-hour price change"
          },
          "oneWeekPriceChange": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-week price change"
          },
          "oneMonthPriceChange": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-month price change"
          },
          "oneYearPriceChange": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-year price change"
          },
          "lastTradePrice": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Last trade price"
          },
          "bestBid": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Best bid price"
          },
          "bestAsk": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Best ask price"
          },
          "automaticallyActive": {
            "type": ["boolean", "null"],
            "description": "Whether market is automatically active"
          },
          "clearBookOnStart": {
            "type": ["boolean", "null"],
            "description": "Whether to clear book on start"
          },
          "seriesColor": {
            "type": ["string", "null"],
            "description": "Series color"
          },
          "showGmpSeries": {
            "type": ["boolean", "null"],
            "description": "Whether to show GMP series"
          },
          "showGmpOutcome": {
            "type": ["boolean", "null"],
            "description": "Whether to show GMP outcome"
          },
          "manualActivation": {
            "type": ["boolean", "null"],
            "description": "Whether market requires manual activation"
          },
          "negRiskOther": {
            "type": ["boolean", "null"],
            "description": "Other negative risk flag"
          },
          "umaResolutionStatuses": {
            "type": ["string", "null"],
            "description": "JSON string of UMA resolution statuses"
          },
          "pendingDeployment": {
            "type": ["boolean", "null"],
            "description": "Whether deployment is pending"
          },
          "deploying": {
            "type": ["boolean", "null"],
            "description": "Whether currently deploying"
          },
          "rfqEnabled": {
            "type": ["boolean", "null"],
            "description": "Whether RFQ is enabled"
          },
          "holdingRewardsEnabled": {
            "type": ["boolean", "null"],
            "description": "Whether holding rewards are enabled"
          },
          "feesEnabled": {
            "type": ["boolean", "null"],
            "description": "Whether fees are enabled"
          },
          "image": {
            "type": ["string", "null"],
            "description": "Market image URL"
          },
          "icon": {
            "type": ["string", "null"],
            "description": "Market icon URL"
          }
        }
      },
      "Event": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique event identifier"
          },
          "ticker": {
            "type": ["string", "null"],
            "description": "Event ticker symbol"
          },
          "slug": {
            "type": ["string", "null"],
            "description": "URL-friendly event identifier"
          },
          "title": {
            "type": ["string", "null"],
            "description": "Event title"
          },
          "subtitle": {
            "type": ["string", "null"],
            "description": "Event subtitle"
          },
          "description": {
            "type": ["string", "null"],
            "description": "Event description"
          },
          "resolutionSource": {
            "type": ["string", "null"],
            "description": "Source for event resolution"
          },
          "startDate": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Event start date"
          },
          "creationDate": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Event creation date"
          },
          "endDate": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Event end date"
          },
          "image": {
            "type": ["string", "null"],
            "description": "Event image URL"
          },
          "icon": {
            "type": ["string", "null"],
            "description": "Event icon URL"
          },
          "active": {
            "type": ["boolean", "null"],
            "description": "Whether event is active"
          },
          "closed": {
            "type": ["boolean", "null"],
            "description": "Whether event is closed"
          },
          "archived": {
            "type": ["boolean", "null"],
            "description": "Whether event is archived"
          },
          "new": {
            "type": ["boolean", "null"],
            "description": "Whether event is new"
          },
          "featured": {
            "type": ["boolean", "null"],
            "description": "Whether event is featured"
          },
          "restricted": {
            "type": ["boolean", "null"],
            "description": "Whether event has restrictions"
          },
          "volume": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Total event volume"
          },
          "volume24hr": {
            "type": ["number", "null"],
            "format": "float",
            "description": "24-hour trading volume"
          },
          "volume1wk": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-week trading volume"
          },
          "volume1mo": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-month trading volume"
          },
          "volume1yr": {
            "type": ["number", "null"],
            "format": "float",
            "description": "1-year trading volume"
          },
          "openInterest": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Open interest"
          },
          "liquidity": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Total liquidity"
          },
          "liquidityAmm": {
            "type": ["number", "null"],
            "format": "float",
            "description": "AMM liquidity"
          },
          "liquidityClob": {
            "type": ["number", "null"],
            "format": "float",
            "description": "CLOB liquidity"
          },
          "sortBy": {
            "type": ["string", "null"],
            "description": "Sorting field (e.g., 'price')"
          },
          "category": {
            "type": ["string", "null"],
            "description": "Event category"
          },
          "subcategory": {
            "type": ["string", "null"],
            "description": "Event subcategory"
          },
          "isTemplate": {
            "type": ["boolean", "null"],
            "description": "Whether event is a template"
          },
          "templateVariables": {
            "type": ["string", "null"],
            "description": "Template variables"
          },
          "published_at": {
            "type": ["string", "null"],
            "description": "Publication timestamp"
          },
          "createdBy": {
            "type": ["string", "null"],
            "description": "Creator identifier"
          },
          "updatedBy": {
            "type": ["string", "null"],
            "description": "Last updater identifier"
          },
          "createdAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Event creation timestamp"
          },
          "updatedAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Event last update timestamp"
          },
          "commentsEnabled": {
            "type": ["boolean", "null"],
            "description": "Whether comments are enabled"
          },
          "competitive": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Competitiveness score (0-1)"
          },
          "featuredImage": {
            "type": ["string", "null"],
            "description": "Featured image URL"
          },
          "disqusThread": {
            "type": ["string", "null"],
            "description": "Disqus thread identifier"
          },
          "parentEvent": {
            "type": ["string", "null"],
            "description": "Parent event identifier"
          },
          "enableOrderBook": {
            "type": ["boolean", "null"],
            "description": "Whether order book is enabled"
          },
          "negRisk": {
            "type": ["boolean", "null"],
            "description": "Whether event uses negative risk"
          },
          "negRiskMarketID": {
            "type": ["string", "null"],
            "description": "Negative risk market ID"
          },
          "negRiskFeeBips": {
            "type": ["integer", "null"],
            "description": "Negative risk fee in basis points"
          },
          "commentCount": {
            "type": ["integer", "null"],
            "description": "Number of comments"
          },
          "imageOptimized": {
            "type": ["object", "null"],
            "description": "Optimized image metadata"
          },
          "iconOptimized": {
            "type": ["object", "null"],
            "description": "Optimized icon metadata"
          },
          "featuredImageOptimized": {
            "type": ["object", "null"],
            "description": "Optimized featured image metadata"
          },
          "subEvents": {
            "type": ["array", "null"],
            "items": {
              "type": "string"
            },
            "description": "Sub-event identifiers"
          },
          "cyom": {
            "type": ["boolean", "null"],
            "description": "Create Your Own Market flag"
          },
          "closedTime": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Market close timestamp"
          },
          "showAllOutcomes": {
            "type": ["boolean", "null"],
            "description": "Whether to show all outcomes"
          },
          "showMarketImages": {
            "type": ["boolean", "null"],
            "description": "Whether to show market images"
          },
          "automaticallyResolved": {
            "type": ["boolean", "null"],
            "description": "Whether event is automatically resolved"
          },
          "enableNegRisk": {
            "type": ["boolean", "null"],
            "description": "Whether negative risk is enabled"
          },
          "automaticallyActive": {
            "type": ["boolean", "null"],
            "description": "Whether event is automatically active"
          },
          "eventDate": {
            "type": ["string", "null"],
            "description": "Event date"
          },
          "startTime": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Event start time"
          },
          "eventWeek": {
            "type": ["integer", "null"],
            "description": "Event week number"
          },
          "seriesSlug": {
            "type": ["string", "null"],
            "description": "Series slug identifier"
          },
          "score": {
            "type": ["string", "null"],
            "description": "Event score"
          },
          "elapsed": {
            "type": ["string", "null"],
            "description": "Elapsed time"
          },
          "period": {
            "type": ["string", "null"],
            "description": "Event period"
          },
          "live": {
            "type": ["boolean", "null"],
            "description": "Whether event is live"
          },
          "ended": {
            "type": ["boolean", "null"],
            "description": "Whether event has ended"
          },
          "finishedTimestamp": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Event finish timestamp"
          },
          "gmpChartMode": {
            "type": ["string", "null"],
            "description": "Chart mode (e.g., 'default')"
          },
          "eventCreators": {
            "type": ["array", "null"],
            "items": {
              "type": "object"
            },
            "description": "Event creators"
          },
          "tweetCount": {
            "type": ["integer", "null"],
            "description": "Number of tweets"
          },
          "chats": {
            "type": ["array", "null"],
            "items": {
              "type": "object"
            },
            "description": "Associated chats"
          },
          "featuredOrder": {
            "type": ["integer", "null"],
            "description": "Featured ordering position"
          },
          "estimateValue": {
            "type": ["boolean", "null"],
            "description": "Whether to estimate value"
          },
          "cantEstimate": {
            "type": ["boolean", "null"],
            "description": "Whether value cannot be estimated"
          },
          "estimatedValue": {
            "type": ["string", "null"],
            "description": "Estimated value"
          },
          "templates": {
            "type": ["array", "null"],
            "items": {
              "type": "object"
            },
            "description": "Associated templates"
          },
          "spreadsMainLine": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Main line for spreads"
          },
          "totalsMainLine": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Main line for totals"
          },
          "carouselMap": {
            "type": ["string", "null"],
            "description": "Carousel mapping"
          },
          "negRiskAugmented": {
            "type": ["boolean", "null"],
            "description": "Whether negative risk is augmented"
          },
          "pendingDeployment": {
            "type": ["boolean", "null"],
            "description": "Whether deployment is pending"
          },
          "deploying": {
            "type": ["boolean", "null"],
            "description": "Whether currently deploying"
          },
          "deployingTimestamp": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Deployment timestamp"
          },
          "scheduledDeploymentTimestamp": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Scheduled deployment timestamp"
          },
          "gameStatus": {
            "type": ["string", "null"],
            "description": "Game status"
          },
          "requiresTranslation": {
            "type": ["boolean", "null"],
            "description": "Whether the event requires translation"
          },
          "markets": {
            "type": ["array", "null"],
            "items": {
              "$ref": "#/components/schemas/Market"
            },
            "description": "Markets associated with this event"
          },
          "series": {
            "type": ["array", "null"],
            "items": {
              "$ref": "#/components/schemas/Series"
            },
            "description": "Series associated with this event"
          },
          "categories": {
            "type": ["array", "null"],
            "items": {
              "type": "object"
            },
            "description": "Categories associated with this event"
          },
          "collections": {
            "type": ["array", "null"],
            "items": {
              "type": "object"
            },
            "description": "Collections associated with this event"
          },
          "tags": {
            "type": ["array", "null"],
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "description": "Tags associated with this event"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["hasMore", "totalResults"],
        "properties": {
          "hasMore": {
            "type": "boolean",
            "description": "Whether more results are available"
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of results"
          }
        }
      },
      "MarketsResponse": {
        "type": "object",
        "required": ["events"],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "description": "Array of events with associated markets and tags"
          }
        }
      },
      "StandardizedResponse": {
        "type": "object",
        "required": ["events", "pagination"],
        "properties": {
          "events": {
            "type": ["array", "null"],
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "description": "Array of events with associated markets and tags"
          },
          "tags": {
            "type": ["array", "null"],
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "description": "Optional array of tags (top-level)"
          },
          "profiles": {
            "type": ["array", "null"],
            "items": {
              "type": "object"
            },
            "description": "Optional array of user profiles (top-level)"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Position": {
        "type": "object",
        "required": [
          "proxyWallet",
          "asset",
          "conditionId",
          "size",
          "avgPrice",
          "initialValue",
          "currentValue",
          "cashPnl",
          "percentPnl",
          "totalBought",
          "realizedPnl",
          "percentRealizedPnl",
          "curPrice",
          "redeemable",
          "mergeable",
          "title",
          "slug",
          "icon",
          "eventSlug",
          "outcome",
          "outcomeIndex",
          "oppositeOutcome",
          "oppositeAsset",
          "endDate",
          "negativeRisk"
        ],
        "properties": {
          "proxyWallet": {
            "type": "string",
            "description": "Proxy wallet address",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "example": "0x56687bf447db6ffa42ffe2204a05edaa20f55839"
          },
          "asset": {
            "type": "string",
            "description": "Asset token ID"
          },
          "conditionId": {
            "type": "string",
            "description": "Condition ID (0x-prefixed 64-hex string)",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "example": "0xdd22472e552920b8438158ea7238bfadfa4f736aa4cee91a6b86c39ead110917"
          },
          "size": {
            "type": "number",
            "format": "float",
            "description": "Position size"
          },
          "avgPrice": {
            "type": "number",
            "format": "float",
            "description": "Average purchase price"
          },
          "initialValue": {
            "type": "number",
            "format": "float",
            "description": "Initial position value"
          },
          "currentValue": {
            "type": "number",
            "format": "float",
            "description": "Current position value"
          },
          "cashPnl": {
            "type": "number",
            "format": "float",
            "description": "Cash profit/loss"
          },
          "percentPnl": {
            "type": "number",
            "format": "float",
            "description": "Percentage profit/loss"
          },
          "totalBought": {
            "type": "number",
            "format": "float",
            "description": "Total amount bought"
          },
          "realizedPnl": {
            "type": "number",
            "format": "float",
            "description": "Realized profit/loss"
          },
          "percentRealizedPnl": {
            "type": "number",
            "format": "float",
            "description": "Percentage realized profit/loss"
          },
          "curPrice": {
            "type": "number",
            "format": "float",
            "description": "Current price"
          },
          "redeemable": {
            "type": "boolean",
            "description": "Whether position is redeemable"
          },
          "mergeable": {
            "type": "boolean",
            "description": "Whether position is mergeable"
          },
          "title": {
            "type": "string",
            "description": "Market title"
          },
          "slug": {
            "type": "string",
            "description": "Market slug"
          },
          "icon": {
            "type": "string",
            "description": "Market icon URL"
          },
          "eventId": {
            "type": "string",
            "description": "Event ID (optional field)"
          },
          "eventSlug": {
            "type": "string",
            "description": "Event slug"
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name"
          },
          "outcomeIndex": {
            "type": "integer",
            "description": "Outcome index"
          },
          "oppositeOutcome": {
            "type": "string",
            "description": "Opposite outcome name"
          },
          "oppositeAsset": {
            "type": "string",
            "description": "Opposite asset token ID"
          },
          "endDate": {
            "type": "string",
            "description": "Market end date"
          },
          "negativeRisk": {
            "type": "boolean",
            "description": "Whether position uses negative risk"
          }
        }
      },
      "ClosedPosition": {
        "type": "object",
        "required": [
          "proxyWallet",
          "asset",
          "conditionId",
          "avgPrice",
          "totalBought",
          "realizedPnl",
          "curPrice",
          "timestamp",
          "title",
          "slug",
          "icon",
          "eventSlug",
          "outcome",
          "outcomeIndex",
          "oppositeOutcome",
          "oppositeAsset",
          "endDate"
        ],
        "properties": {
          "proxyWallet": {
            "type": "string",
            "description": "Proxy wallet address",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "example": "0x56687bf447db6ffa42ffe2204a05edaa20f55839"
          },
          "asset": {
            "type": "string",
            "description": "Asset token ID"
          },
          "conditionId": {
            "type": "string",
            "description": "Condition ID (0x-prefixed 64-hex string)",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "example": "0xdd22472e552920b8438158ea7238bfadfa4f736aa4cee91a6b86c39ead110917"
          },
          "avgPrice": {
            "type": "number",
            "format": "float",
            "description": "Average purchase price"
          },
          "totalBought": {
            "type": "number",
            "format": "float",
            "description": "Total amount bought"
          },
          "realizedPnl": {
            "type": "number",
            "format": "float",
            "description": "Realized profit/loss"
          },
          "curPrice": {
            "type": "number",
            "format": "float",
            "description": "Current price"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp"
          },
          "title": {
            "type": "string",
            "description": "Market title"
          },
          "slug": {
            "type": "string",
            "description": "Market slug"
          },
          "icon": {
            "type": "string",
            "description": "Market icon URL"
          },
          "eventSlug": {
            "type": "string",
            "description": "Event slug"
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name"
          },
          "outcomeIndex": {
            "type": "integer",
            "description": "Outcome index"
          },
          "oppositeOutcome": {
            "type": "string",
            "description": "Opposite outcome name"
          },
          "oppositeAsset": {
            "type": "string",
            "description": "Opposite asset token ID"
          },
          "endDate": {
            "type": "string",
            "description": "Market end date"
          }
        }
      },
      "Activity": {
        "type": "object",
        "required": [
          "proxyWallet",
          "timestamp",
          "conditionId",
          "type",
          "size",
          "usdcSize",
          "transactionHash",
          "price",
          "asset",
          "side",
          "outcomeIndex",
          "title",
          "slug",
          "icon",
          "eventSlug",
          "outcome",
          "name",
          "pseudonym",
          "bio",
          "profileImage",
          "profileImageOptimized"
        ],
        "properties": {
          "proxyWallet": {
            "type": "string",
            "description": "User Profile Address (0x-prefixed, 40 hex chars)",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp"
          },
          "conditionId": {
            "type": "string",
            "description": "Condition ID (0x-prefixed 64-hex string)",
            "pattern": "^0x[a-fA-F0-9]{64}$"
          },
          "type": {
            "type": "string",
            "enum": [
              "TRADE",
              "SPLIT",
              "MERGE",
              "REDEEM",
              "REWARD",
              "CONVERSION"
            ],
            "description": "Activity type"
          },
          "size": {
            "type": "number",
            "description": "Activity size"
          },
          "usdcSize": {
            "type": "number",
            "description": "USDC value of the activity"
          },
          "transactionHash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "price": {
            "type": "number",
            "description": "Trade price"
          },
          "asset": {
            "type": "string",
            "description": "Asset token ID"
          },
          "side": {
            "type": "string",
            "enum": ["BUY", "SELL", ""],
            "description": "Order side (BUY or SELL for trades, empty for non-trade activities)"
          },
          "outcomeIndex": {
            "type": "integer",
            "description": "Outcome index"
          },
          "title": {
            "type": "string",
            "description": "Market title"
          },
          "slug": {
            "type": "string",
            "description": "Market slug"
          },
          "icon": {
            "type": "string",
            "description": "Market icon URL"
          },
          "eventSlug": {
            "type": "string",
            "description": "Event slug"
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name"
          },
          "name": {
            "type": "string",
            "description": "User name"
          },
          "pseudonym": {
            "type": "string",
            "description": "User pseudonym"
          },
          "bio": {
            "type": "string",
            "description": "User bio"
          },
          "profileImage": {
            "type": "string",
            "description": "User profile image URL"
          },
          "profileImageOptimized": {
            "type": "string",
            "description": "Optimized profile image URL"
          }
        }
      },
      "Trade": {
        "type": "object",
        "required": [
          "proxyWallet",
          "side",
          "asset",
          "conditionId",
          "size",
          "price",
          "timestamp",
          "title",
          "slug",
          "icon",
          "eventSlug",
          "outcome",
          "outcomeIndex",
          "name",
          "pseudonym",
          "bio",
          "profileImage",
          "profileImageOptimized",
          "transactionHash"
        ],
        "properties": {
          "proxyWallet": {
            "type": "string",
            "description": "User Profile Address (0x-prefixed, 40 hex chars)",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "side": {
            "type": "string",
            "enum": ["BUY", "SELL"],
            "description": "Order side"
          },
          "asset": {
            "type": "string",
            "description": "Asset token ID"
          },
          "conditionId": {
            "type": "string",
            "description": "Condition ID (0x-prefixed 64-hex string)",
            "pattern": "^0x[a-fA-F0-9]{64}$"
          },
          "size": {
            "type": "number",
            "description": "Trade size"
          },
          "price": {
            "type": "number",
            "description": "Trade price"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp"
          },
          "title": {
            "type": "string",
            "description": "Market title"
          },
          "slug": {
            "type": "string",
            "description": "Market slug"
          },
          "icon": {
            "type": "string",
            "description": "Market icon URL"
          },
          "eventSlug": {
            "type": "string",
            "description": "Event slug"
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name"
          },
          "outcomeIndex": {
            "type": "integer",
            "description": "Outcome index"
          },
          "name": {
            "type": "string",
            "description": "User name"
          },
          "pseudonym": {
            "type": "string",
            "description": "User pseudonym"
          },
          "bio": {
            "type": "string",
            "description": "User bio"
          },
          "profileImage": {
            "type": "string",
            "description": "User profile image URL"
          },
          "profileImageOptimized": {
            "type": "string",
            "description": "Optimized profile image URL"
          },
          "transactionHash": {
            "type": "string",
            "description": "Transaction hash"
          }
        }
      },
      "PnLResponse": {
        "type": "object",
        "required": ["currentPositions", "closedPositions", "allTime"],
        "properties": {
          "currentPositions": {
            "type": "number",
            "format": "float",
            "description": "Total PnL from current open positions"
          },
          "closedPositions": {
            "type": "number",
            "format": "float",
            "description": "Total PnL from closed positions"
          },
          "allTime": {
            "type": "number",
            "format": "float",
            "description": "All-time total PnL"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request due to missing or invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. Contact Swaps.xyz to obtain an API key."
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
